  <!doctype html>
  <html class="no-js" lang="pt">
  <head>
    <title>404</title>
    <!-- $Include templates/lib/html/head.html --> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.8/datatables.min.css"/>

  </head>
  <body>
    <!-- $Include templates/lib/html/topbar.html --> 

    <div class="row" style="position:relative; top:30%;">
      <div class="medium-5 columns medium-centered">
        <img src="Midia\\negado.png" alt="" style="margin-left:34px; ">
        <p>Não foi encontrada a página que você queria :(</p>
      </div>
    </div>
    <div class="row" style="position:relative; top:30%;">
      <div class="medium-3 columns medium-centered">
        <a href="index.php?uc=telaPrincipal&a=principalView" style="margin-left: 20px;" title="Voltar para a tela principal" class="button tiny success">Tela principal</a>
      </div>
    </div>


    <!-- $Include templates/lib/html/footerscripts.html --> 

    <script>
    $(document).foundation();

    </script>
  </body>
  </html>
