<!doctype html>
<html class="no-js" lang="pt-br">
<head>
  <title>Alterar Dados</title>
  <!-- $Include templates/lib/html/head.html --> 
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.8/datatables.min.css"/>
</head>
<body>

  <!-- $Include templates/lib/html/topbar.html --> 

  <div class="row fix-container">
    <div class="medium-12 columns"> <h2 class="cabecalho">Disciplinas lecionadas</h2> </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <form id="form" data-abide="ajax">
        <div class="row">
          <div class="medium-5 columns">
           <label for="disciplina">Disciplinas: <small>Obrigatório</small>
            <select id="disciplina" class="medium" name="disciplina_id" required>
              <option value="">-Selecione-</option>

              <!-- $BeginBlock disciplinas --> 
              <option value="${disciplina.id}"> ${disciplina.descri} </option>
              <!-- $EndBlock   disciplinas --> 
            </select>
          </label>
          <small class="error">Você percisa selecionar Uma disciplina</small>
        </div>

        <div class="medium-3 columns ">
          <label>Ano que lecionou <small>Obrigatório</small>
            <input type="number" required name="ano_lecionou" value="2000" />
          </label> <small class="error">Você precisa inserir um ano válido.</small>
        </div>

        <div class="medium-4 columns" style="margin-top:22px;">
          <button type="submit" class="button success tiny ">Adicionar</button>
        </div>
      </div>          
    </form>
  </div>
</div>


<!--coluna principal para as telas de formulários--> 
<div class="row">
  <div class="medium-12 columns">
    <!-- label -->
    <span class="label secondary">As diciplinas vinculadas na sua conta estão listadas na tabela abaixo</span>
    <!--inicio--> 
    <div class="row">
      <div class="medium-12 columns">
        <!-- new tables -->
        <table class="dataTable striped border bordered" data-role="datatable" data-searching="false">
          <thead>
            <tr>
              <th >Disciplina</th>
              <th >Ano que lecionou</th>
              <th >Ação</th>
            </tr>
          </thead>

          <tbody>
            <!-- $BeginBlock table -->
            <tr>
              <td>${disciplina.name}</td>
              <td>${disciplina.ano_lecionou}</td>
              <!-- <td><button value="${associativa.id}" class="button tiny alert event" >Excluir</button></td> -->
              <td><button value="${associativa.id}"  style="margin:0" class="button tiny alert event" ><i class="fa fa-trash-o"></button></td>
            </tr>
            <!-- $EndBlock table -->
          </tbody>

          <tfoot>
            <tr>
              <th >Disciplina</th>
              <th >Ano que lecionou</th>
              <th >Ação</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

  </div>  
  <!--fim-->
</div>
</div>



<!--info-->
<div class="row">
  <div id="info" class="medium-12 columns">

  </div>
</div>

</div>
</div>

<!-- $Include templates/lib/html/footerscripts.html --> 
<script src="templates/lib/js/ajax.js"></script>
<script src="templates/lib/js/jquery.dataTables.min.js"></script>
<script src="templates/lib/js/metro.js"></script>

<script>
$(document).ready(function(){

  $('#form').on('valid', function() {
    var data = $(this).serializeArray(); 

    sendAjax('index.php?uc=manterUsuario&a=addDisciplina','POST',data,function(data){
      data = JSON.parse(data); 

      if(data['status']){
        alertify.success("Disciplina adicionada com sucesso"); 
        reloadDelay(800);    
      }else
        alertify.error("Error");
        console.log(data);  
    });


  });


$('.event').click(function(){
  var data = { 'associativa_id' : this.value  };
  alertify.confirm("Click em Ok se deseja realmente excluir essa desciplina lecionada.",function(e){
   if(e){
    sendAjax('index.php?uc=manterUsuario&a=delDisciplina','POST',data,function(data){
      data = JSON.parse(data); 

      if(data['status']){
        alertify.success("Disciplina excluída com sucesso"); 
        reloadDelay(800);    
      }else
        alertify.error("Error"); 
    }); 

  }else{
    alertify.error("Operação cancelada"); 
  }
}); 
}); 


function reloadDelay(delay){
  setInterval(function(){window.location.reload();},delay); 
}

}); 
</script>

</body>
</html>
