<!doctype html>
<html class="no-js" lang="pt-br">
<head>
  <title>Alterar Dados</title>
  <!-- $Include templates/lib/html/head.html --> 
</head>
<body>

 <!-- $Include templates/lib/html/topbar.html --> 

 <div class="row fix-container">
  <div class="medium-12 columns"> <h2 class="cabecalho">Alterar Dados</h2> </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="medium-12 columns">
    <nav class="breadcrumbs">
      <a href="#" class="current">Dados pessoais</a>
      <a href="index.php?a=alterarSenhaView&uc=manterUsuario">Alterar senha</a>
      <a href="index.php?uc=manterUsuario&a=alterarFotoView">Alterar Foto de Perfil</a>
    </nav>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <form id="form" data-abide="ajax"> 
      <!--Nome do professor--> 
      <div class="row">
        <div class="medium-7 small-6 columns">
          <label>Nome: <small>Obrigatório</small>
            <input  name="nome" type="text" required   value="${usuario.nome}"/>
          </label> <small class="error">Você precisa informar o nome do professor</small>
        </div>
      </div>
      
      <!--E-mail do professor--> 
      <div class="row">
        <div class="medium-7 small-6 columns">
          <label>E-mail: <small>Obrigatório</small>
            <input name="e_mail" type="email" required  placeholder="exemplo@email.cm" value="${usuario.email}" />
          </label> <small class="error">Você precisa inserir um e-mail válido</small>
        </div>
      </div>


      <hr /> 
      <!--info-->
      <div class="row">
        <div id="info" class="medium-12 columns">

        </div>
      </div>

      <!-- botões --> 
      <div class="row">
        <div class="medium-2 small-3 columns right">
          <button class="button success tiny " type="submit" >Alterar</button>
        </div>

        <div class="medium-2 small-3 columns left">
          <a class="button info tiny" href="index.php?uc=telaPrincipal&a=principalView">Tela principal</a>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- $Include templates/lib/html/footerscripts.html --> 

<script src="templates/lib/js/jquery.mask.min.js"></script>
<script src="templates/lib/js/ajax.js"></script>
<script>
$(document).ready(function(){

  $('#form').on('valid', function() {
    var data = $(this).serializeArray(); 

    sendAjax('index.php?uc=manterUsuario&a=alterarDadosProfessor','POST',data,function(data){
      data = JSON.parse(data); 

      if(data['status'])
        alertify.success("O dados foram alterados com sucesso.");   
      else
        alertify.error(data['msg']); 
    });

  });

});
</script>

</body>
</html>
