<!doctype html>

<html class="no-js" lang="pt">
<head>
  <title>Alterar Dados</title>
  <!-- $Include templates/lib/html/head.html --> 
</head>
<body>


 <!-- $Include templates/lib/html/topbar.html --> 

 <div class="row fix-container"  >
  <div class="medium-12 columns">

    <div class="row">
      <div class="medium-12 columns">
        <h2 class='cabecalho'>Alterar Dados</h2>
      </div>
    </div>

    <!-- navegação -->
    <div class="row" style="margin-top:20px;">
      <div class="medium-12 columns">
        <nav class="breadcrumbs">
          <a href="#" class="current">Alterar Dados</a>
          <a href="index.php?a=alterarSenhaView&uc=manterUsuario">Alterar senha</a>
          <a href="index.php?uc=manterUsuario&a=alterarFotoView">Alterar Foto de Perfil</a>
        </nav>
      </div>
    </div>

    <form id="form" data-abide="ajax"> 

      <div class="row">
        <div class="medium-6 small-6 columns">
          <label>Nome <small>Obrigatório</small>
            <input name="nome" type="text"  required  value="${egresso.nome}" />
          </label>
          <small class="error">Você precisa preencher o campo.</small>
        </div>

        <div class="medium-6 small-6 columns">
          <label>E-mail <small>Obrigatório</small>
            <input name="email" type="email" required   value="${egresso.email}" />
          </label> <small class="error">Você precisa preencher o campo
          .</small>
        </div>
      </div>

      <div class="row">
        <div class="medium-4  columns">
          <label>Estado Civil <small>Obrigatório</small>
            <select name="estado_civil_id" required>
              <option value="">-Selecione-</option>
              <!-- $BeginBlock civil -->
              <option ${civil.marcado} value="${civil.value}"> ${civil.desc}</option>
              <!-- $EndBlock civil -->
            </select>
          </label> <small class="error">Selecione um estado civil</small>
        </div>

        <div class="row">
         <div class="medium-2 medium-offset-2 columns">
          <label>Quantos filhos 
           <input name="qtd_filhos" type="number" min="0" max="50" value="${egresso.qtdFilhos}">
         </label>
       </div>
     </div>
   </div>

   <div class="row">
     <div class="medium-4 small-4 columns">
      <label>Telefone
        <input name="telefone" class="telefone" type="text"  placeholder="(00) 0000-0000" value="${egresso.telefone}" />
      </label> 
    </div>
  </div>
  

  <div class="row">
    <div class="medium-12 small-12 columns">
      <label>Endereço
        <input name="endereco" type="text" placeholder="Rua Exemplo, Número 4..." value="${egresso.endereco}" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="medium-4 small-4 columns">
      <label>País
        <select id="egresso_pais" name="egresso_pais_id">
          <option value="">-Selecione-</option>
          <!-- $BeginBlock egresso.pais -->
          <option ${egresso.pais.marcado} value="${egresso.pais.value}"> ${egresso.pais.desc}</option>
          <!-- $EndBlock egresso.pais -->
        </select>
      </label>
    </div>

    <div id="egresso_estado" class="medium-4 small-4 columns">
      <label>Estado
        <select id="egresso_select_estado" >
          <option value="">-Selecione-</option>
          <!-- $BeginBlock egresso.estado -->
          <option ${egresso.estado.marcado} value="${egresso.estado.value}"> ${egresso.estado.desc}</option>
          <!-- $EndBlock egresso.estado -->
        </select>
      </label>
    </div>

    <div id="egresso_cidade" class="medium-4 small-4 columns">
      <label>Cidade
        <select id="egresso_select_cidade" name="egresso_cidade_id">
          <option value="">-Selecione-</option>
          <!-- $BeginBlock egresso.cidade -->
          <option ${egresso.cidade.marcado} value="${egresso.cidade.value}"> ${egresso.cidade.desc}</option>
          <!-- $EndBlock egresso.cidade -->
        </select>
      </label>
    </div>

    <!--Esse campo deverá aparecer somente se o país selecionado for diferente de Brasil--> 
    <div id="egresso_complemento" class="row hide">
      <div class="medium-7 small-7 columns">
        <label>Estado/Província/Região
          <input type="text"  name="egresso_complemento" placeholder="Digite o complemento do seu endereço." value="${egresso.complemento}">
        </label> 
      </div>  
    </div>

    <!-- O egresso tem emprego? -->
    <hr>
    <div class="row" style="margin-left:10px;">
      <div class="medium-4 columns">
        <input name="has_emprego" id="checkbox1" type="checkbox" ${has_emprego} ><label for="checkbox1">Você tem emprego?</label>
      </div>
    </div>
    <hr>
    <fieldset id="emprego_field">
      <legend>Trabalho</legend>
      <!-- checkboxes -->
      
      <div class="row">
        <div class="medium-3 columns">
          <input name="is_publica" id="checkbox2" type="checkbox" ${is_publica} ><label for="checkbox2">Na área pública?</label>
        </div>
        <div class="medium-2 columns end">
          <input name="is_area_ti" id="checkbox3" type="checkbox" ${is_area_ti}><label for="checkbox3">Na área de TI?</label>
        </div>
      </div>

      <div class="row">
        <div class="medium-5 small-5 columns">
          <label>Empresa
            <input name="empresa_nome" type="text" placeholder="Nome da empresa"  value="${emprego.nome}"/>
          </label>
        </div>

        <div class="medium-5 small-5 columns">
          <label>Atuação profissional <small id="atuacao_label">Obrigatório</small>
            <select id="atuacao_profissional" name="atuacao_profissional_id" required>
              <option value="">-Selecione-</option>
              <!-- $BeginBlock atuacao -->
              <option ${atuacao.marcado} value="${atuacao.value}"> ${atuacao.desc}</option>
              <!-- $EndBlock atuacao -->
            </select>
          </label> <small class="error">Selecione uma área de atuação profissional</small>
        </div>
      </div>

      
      <div class="row">
        <div class="medium-4 small-4 columns">
          <label>País
            <select id="emprego_pais" name="emprego_pais_id">
              <option value="">-Selecione-</option>
              <!-- $BeginBlock emprego.pais -->
              <option ${emprego.pais.marcado} value="${emprego.pais.value}"> ${emprego.pais.desc}</option>
              <!-- $EndBlock emprego.pais -->
            </select>
          </label>
        </div>

        <div id="emprego_estado" class="medium-4 small-4 columns ">
          <label>Estado
            <select id="emprego_select_estado" >
              <option value="">-Selecione-</option>
              <!-- $BeginBlock emprego.estado -->
              <option ${emprego.estado.marcado} value="${emprego.estado.value}"> ${emprego.estado.desc}</option>
              <!-- $EndBlock emprego.estado -->
            </select>
          </label>
        </div>

        <div id="emprego_cidade" class="medium-4 small-4 columns ">
          <label>Cidade
            <select id="emprego_select_cidade" name="emprego_cidade_id">
              <option value="">-Selecione-</option>
              <!-- $BeginBlock emprego.cidade -->
              <option ${emprego.cidade.marcado} value="${emprego.cidade.value}"> ${emprego.cidade.desc}</option>
              <!-- $EndBlock emprego.cidade -->
            </select>
          </label>
        </div>

        <!--Esse campo deverá apareser somente se o país selecionado for diferente de Brasil--> 
        <div id="emprego_complemento" class="row hide">
          <div class="medium-7 small-7 columns">
            <label>Estado/Província/Região
              <input type="text"  name="emprego_complemento" placeholder="Digite o complemento do seu endereço." value="${emprego.complemento}">
            </label> 
          </div>    

        </div>
      </div>

      <div class="row">
        <div class="medium-4 small-4 columns">
          <label>Faixa Salarial <small>Obrigatório</small>
            <select id="faixa_salarial" name="faixa_salarial_id" required>
              <option value="">-Selecione-</option>
              <!-- $BeginBlock faixa -->
              <option ${faixa.marcado} value="${faixa.value}"> ${faixa.desc}</option>
              <!-- $EndBlock faixa -->
            </select>
          </label> <small class="error">Selecione uma faixa salarial</small>
        </div>
      </div>
    </fieldset>

    <!--Seção para Redes Sociais--> 
    <fieldset>
     <legend>Redes Sociais</legend>

     <div class="row">
      <div class="medium-12 small-12 columns ">
        <label>Twitter<input type="text" name="twitter" value="${twitter}"></label>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 small-12 columns ">
        <label>Linkedin<input type="text" name="linkedin" value="${linkedin}"></label>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 small-12 columns ">
        <label>Facebook<input type="text" name="facebook" value="${facebook}"></label>
      </div>
    </div>
  </fieldset>

  <hr />

  <div class="row panel callout">
   <div class="medium-12 columns">
     <input name="is_dado_publico" id="checkbox" type="checkbox" ${egresso.dados_publico} /><label for="checkbox">Deseja tornar visíveis no seu perfil os dados de telefone, e-mail e redes sociais?</label>
   </div>
 </div>

 <hr /> 
 <!-- botões --> 
 <div class="row">
  <div class="medium-2 small-3 columns right">
    <button class="button success tiny" type="submit" >Alterar dados</button>
  </div>

  <div class="medium-2 small-3 columns left">
    <a class="button info tiny" href="index.php?uc=telaPrincipal&a=principalView">Tela principal</a>
  </div>
</div>
</form>

</div>

</div>


<!-- $Include templates/lib/html/footerscripts.html --> 
<script src="templates/lib/js/jquery.mask.min.js"></script>
<script src="templates/lib/js/ajax.js"></script>

<script>
$(document).ready(function(){
  $('.telefone').mask('(99) 9999-9999');

  //Escondendo campos de localidade. 
  switchEmprego(); 
  switchEgresso();
  switchEmpregoFeild(); 
  disableAreaTi()

  $('#form').on('valid', function() {
    var data = $(this).serializeArray(); 

    sendAjax('index.php?uc=manterUsuario&a=alterarDados','POST',data,function(data){
      data = JSON.parse(data); 

      if(data['status']){
        alertify.success("Dados alterados com sucesso.");  
      }
      else
        alertify.error(data['msg']); 
    });
    
  });

   //Script final
   $('#emprego_pais').change(function(){switchEmprego()}); 
   $('#egresso_pais').change(function(){switchEgresso()}); 
   $('#checkbox1').change(function(){switchEmpregoFeild()}); 
   $('#checkbox3').change(function(){disableAreaTi()}); 

   $('#emprego_select_estado').change(function(){
    var value = $('#emprego_select_estado option:selected ').val(); 
    var text = $('#emprego_select_estado option:selected ').text(); 

    sendAjax('index.php?uc=ajaxServices&a=getCities','POST',{'state' : value}, function(data){
      data = JSON.parse(data); 
      $('#emprego_select_cidade > option').each(function(){ this.remove(); }); 

      $.each(data, function (i, item) { 
        $('#emprego_select_cidade').append($('<option>', { 
          value: item,
          text : item 
        }));
      });
      alertify.success("As cidades do estado do(e) <b>"+text+"</b> foram carregadas."); 
    }); 

  }); 

   $('#egresso_select_estado').change(function(){
    var value = $('#egresso_select_estado option:selected ').val(); 
    var text = $('#egresso_select_estado option:selected ').text(); 

    sendAjax('index.php?uc=ajaxServices&a=getCities','POST',{'state' : value}, function(data){
      data = JSON.parse(data); 
      $('#egresso_select_cidade > option').each(function(){ this.remove(); }); 

      $.each(data, function (i, item) { 
        $('#egresso_select_cidade').append($('<option>', { 
          value: item,
          text : item 
        }));
      });
      alertify.success("As cidades do estado do(e) <b>"+text+"</b> foram carregadas.");
    }); 

  }); 
 });


function switchEmprego(){
  var value = $('#emprego_pais option:selected ').val(); 
  if( value == 33 ){
    $('#emprego_complemento').addClass('hide'); 
    $('#emprego_estado').removeClass('hide');
    $('#emprego_cidade').removeClass('hide');
  }else{
    $('#emprego_complemento').removeClass('hide'); 
    $('#emprego_estado').addClass('hide');
    $('#emprego_cidade').addClass('hide');
  }
}

function switchEgresso(){
  var value = $('#egresso_pais option:selected ').val(); 
  if( value == 33 ){
    $('#egresso_complemento').addClass('hide'); 
    $('#egresso_estado').removeClass('hide');
    $('#egresso_cidade').removeClass('hide');
  }else{
    $('#egresso_complemento').removeClass('hide'); 
    $('#egresso_estado').addClass('hide');
    $('#egresso_cidade').addClass('hide');
  }
}

function disableAreaTi(){
  if($("#checkbox3").is(":checked")){
      //Abilitar campo 
      $("#atuacao_profissional").removeAttr("disabled"); 
      $("#atuacao_profissional").attr("required", "required"); 
      $("#atuacao_label").text("Obrigatório"); 
    }else{
      //Desabilitar campo
      $("#atuacao_profissional").attr("disabled", "disabled"); 
      $("#atuacao_profissional").removeAttr("required"); 
      $("#atuacao_label").text(""); 
    }
   
  }
  function switchEmpregoFeild(){
    if($('#checkbox1').is(':checked')){
      $('#emprego_field').removeClass('hide'); 
    //adicionando obrigatoriedade dos campos
    $("#faixa_salarial").attr("required", "required"); 
    $("#atuacao_profissional").attr("required", "required"); 
    
  }else{
    $('#emprego_field').addClass('hide'); 
    //adicionando obrigatoriedade dos campos
    $("#faixa_salarial").removeAttr("required"); 
    $("#atuacao_profissional").removeAttr("required"); 
  }
  //Chamando foudation para atualizar campos
}
</script>
</body>
</html>
