<!doctype html>
<html class="no-js" lang="pt">
<head>
  <title>Cadastro de Egresso</title>
  <!-- $Include templates/lib/html/head.html --> 
</head>
<body>

 <!-- $Include templates/lib/html/topbar.html --> 


 <div class="row fix-container">
  <!-- cabeçalho -->
  <div class="row">
    <div class="medium-12 columns">
      <h2 class='cabecalho'>Cadastro Egresso</h2>
    </div>
  </div>

  
  <form id="form" data-abide="ajax"> 
   <!--Nome do professor--> 
   <div class="row">
    <div class="medium-7 small-6 columns">
      <label>Nome: <small>Obrigatório</small>
        <input type="text" name="nome" required   />
      </label> <small class="error">Você precisa informar o nome do egresso</small>
    </div>
  </div>
  <!--CPf do professor--> 
  <div class="row">
    <div class="medium-7 small-6 columns">
      <label>CPF | Login: <small>Obrigatório</small>
        <input type="text" name="cpf" class="cpf" required  placeholder="000.000.000-00" />
      </label> <small class="error">Você precisa informar o CPF</small>
    </div>
  </div>

  <!--E-mail do professor--> 
  <!-- label -->
  <div class="row" >
    <div class="medium-12 columns">
      <span class="label secondary">Uma senha aleatória será enviada para o email fornecido neste cadastro, junto com o cpf e link para acesso do site.</span>
    </div>
  </div>
  <div class="row">
    <div class="medium-7 small-6 columns">
      <label>E-mail: <small>Obrigatório</small>
        <input type="email" name="e_mail" required  placeholder="exemplo@email.com" />
      </label> <small class="error">Você precisa inserir um e-mail válido</small>
    </div>
  </div>


  <!-- Sexo do Professor--> 
  <div class="row">
    <div class="medium-3 columns">
      <label for="sexo">Gênero: <small>Obrigatório</small>
        <select id="sexo" class="medium" name="genero_id" required>
          <option value="">-Selecione-</option>
          <option value="1">MASCULINO</option>
          <option value="2">FEMININO</option>
        </select>
      </label>
      <small class="error">Você percisa selecionar Gênero</small>
    </div>
  </div>

  <!-- label -->
  <div class="row">
    <div class="medium-12 columns">
      <span class="label secondary">As turmas são criadas automaticamente conforme a inserção de novos egressos. Se a turma existir, o egresso é vinculado a mesma.</span>
    </div>
  </div>

  <div class="row">
    <div class="medium-9 columns">
      <fieldset class="panel" style="margin-top:0;">
        <legend>Informações sobre o curso</legend>
        <div class="row">
          <div class="medium-4 columns"> 
            <label>Ano de ingresso: <small>Obrigatório</small>
              <input type="number" value='2015' name="ano_ingresso" required  max="5000" min="1900"  />
            </label> <small class="error">Você precisa inserir um ano válido</small>
          </div> 

          <div class="medium-4 columns"> 
           <label>Ano de conclusão | Turma: <small>Obrigatório</small>
             <input type="number"  value='2015' name="ano_conclusao" required  max="5000" min="1900"  />
           </label> <small class="error">Você precisa inserir um ano válido</small>
         </div> 

         <div class="medium-3 columns"> 
           <label>Semestre: <small>Obrigatório</small>
             <input type="number"  value='1' name="semestre" required  max="2" min="1"  />
           </label> <small class="error">Você precisa inserir um ano válido</small>
         </div> 

       </div>
     </fieldset>
   </div>
 </div>

 <hr />
 <!--info-->

 <!-- botões --> 
 <div class="row">
  <div class="medium-2 small-3 columns right">
    <button class="button success tiny " type="submit" >Cadastrar</button>
  </div>

  <div class="medium-2 small-3 columns left">
    <a class="button info tiny" href="index.php?uc=telaPrincipal&a=principalView">Tela principal</a>
  </div>
</div>
</form>

</div>


<!-- $Include templates/lib/html/footerscripts.html --> 

<script src="templates/lib/js/jquery.mask.min.js"></script>
<script src="templates/lib/js/ajax.js"></script>
<script>
$(document).ready(function(){

  $('.cpf').mask('000.000.000-00');


  $('#form').on('valid', function() {
    var data = $(this).serializeArray(); 

    sendAjax('index.php?uc=manterUsuario&a=cadastroEgresso','POST',data,function(data){
      data = JSON.parse(data); 
      if(data['status']){
        alertify.success("O cadastro foi feito com sucesso");   
        reloadDelay(700); 
      }else
        alertify.error(data['msg']); 
    });
    
  });

  function reloadDelay(delay){
    setInterval(function(){window.location.reload();},delay); 
  }
});
</script>

</body>
</html>
