<!doctype html>
<html class="no-js" lang="pt-br">
<head>
  <title>Cadastro de Professor</title>
  <!-- $Include templates/lib/html/head.html --> 
</head>
<body>

 <!-- $Include templates/lib/html/topbar.html --> 

 <div class="row fix-container">
  <!-- cabeçalho -->
  <div class="row">
    <div class="medium-12 columns">
      <h2 class='cabecalho'>Cadastro Professor</h2>
    </div>
  </div>

  <form id="form" data-abide="ajax"> 
    <!--Nome do professor--> 
    <div class="row">
      <div class="medium-7 small-6 columns">
        <label>Nome: <small>Obrigatório</small>
          <input  name="nome" type="text" required   />
        </label> <small class="error">Você precisa informar o nome do professor</small>
      </div>
    </div>
    <!--CPf do professor--> 
    <div class="row">
      <div class="medium-7 small-6 columns">
        <label>CPF | Login: <small>Obrigatório</small>
          <input name="cpf" class="cpf" type="text"  required placeholder="000.000.000-00" />
        </label> <small class="error">Você precisa informar o CPF</small>
      </div>
    </div>

    <!-- label -->
    <div class="row" >
      <div class="medium-12 columns">
        <span class="label secondary">Uma senha aleatória será enviada para o email fornecido neste cadastro, junto com o cpf e link para acesso do site.</span>
      </div>
    </div>

    <!--E-mail do professor--> 
    <div class="row">
      <div class="medium-7 small-6 columns">
        <label>E-mail: <small>Obrigatório</small>
          <input name="e_mail" type="email" required  placeholder="exemplo@email.com" />
        </label> <small class="error">Você precisa inserir um e-mail válido</small>
      </div>
    </div>

    <!-- Sexo do Professor--> 
    <div class="row">
      <div class="medium-3 columns">
        <label for="sexo">Gênero: <small>Obrigatório</small>
          <select id="sexo" name="genero_id" class="medium" required>
            <option value="">Selecione</option>
            <option value="1">MASCULINO</option>
            <option value="2">FEMININO</option>

          </select>
        </label>
        <small class="error">Você percisa selecionar Gênero</small>
      </div>
    </div>

    <hr />
    <!-- botões --> 
    <div class="row">
      <div class="medium-2 small-3 columns right">
        <button class="button success tiny " type="submit" >Cadastrar</button>
      </div>

      <div class="medium-2 small-3 columns left">
        <a href="index.php?uc=telaPrincipal&a=principalView" class="button info tiny ">Tela principal</a>
      </div>
    </div>

  </div>
</form>
</div>

<!-- $Include templates/lib/html/footerscripts.html --> 

<script src="templates/lib/js/jquery.mask.min.js"></script>
<script src="templates/lib/js/ajax.js"></script>
<script>
$(document).ready(function(){

  $('.cpf').mask('000.000.000-00');

  $('#form').on('valid', function() {
    var data = $(this).serializeArray(); 


    sendAjax('index.php?uc=manterUsuario&a=cadastroProfessor','POST',data,function(data){
      data = JSON.parse(data); 

      if(data['status']){
        alertify.success("O cadastro foi feito com sucesso");
        reloadDelay(700); 
      }   
      else
        alertify.error(data['msg']); 
    });
    
  });

  function reloadDelay(delay){
    setInterval(function(){window.location.reload();},delay); 
  }
});
</script>

</body>
</html>
