<!doctype html>
<html class="no-js" lang="pt-br">
  <head>
   <!-- $Include templates/lib/html/head.html --> 
  </head>
  <body>

   <!-- $Include templates/lib/html/topbar.html --> 

    <div class="row">
      <div class="medium-10 medium-offset-1 columns"> <h1>Cadastro de professor</h1> </div>
    </div>

    <div class="row">
      <div class="medium-10 medium-offset-1 columns">
        <form id="form" data-abide> 
            <!--Nome do professor--> 
            <div class="row">
              <div class="medium-6 small-6 columns">
                  <label>Nome: <small>Obrigatório</small>
                    <input  name="nome" type="text" required  placeholder="large-6.columns" />
                  </label> <small class="error">Você precisa informar o nome do professor</small>
                </div>
              </div>
            <!--CPf do professor--> 
            <div class="row">
              <div class="medium-6 small-6 columns">
                  <label>CPF: <small>Obrigatório</small>
                    <input name="cpf" class="cpf" type="text"  required placeholder="large-6.columns" />
                  </label> <small class="error">Você precisa informar o CPF</small>
                </div>
              </div>
              
              <!--E-mail do professor--> 
            <div class="row">
              <div class="medium-6 small-6 columns">
                  <label>E-mail: <small>Obrigatório</small>
                    <input name="e-mail" type="email" required  placeholder="large-6.columns" />
                  </label> <small class="error">Você precisa inserir um e-mail válido</small>
                </div>
              </div>

              <!-- Sexo do Professor--> 
              <div class="row">
                <div class="medium-3 columns">
                  <label for="sexo">Gênero: <small>Obrigatório</small>
                  <select id="sexo" name="genero" class="medium" required>
                    <option value="">Selecione</option>
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
               
                  </select>
                </label>
                <small class="error">Você percisa selecionar Gênero</small>
                </div>
              </div>

             <hr /> 
            <!--info-->
            <div class="row">
              <div id="info" class="medium-12 columns">
                
              </div>
            </div>

            <!-- botões --> 
            <div class="row">
              <div class="medium-2 small-3 columns right">
                <button class="button success tiny radius" type="submit" >Cadastrar</button>
              </div>

              <div class="medium-2 small-3 columns left">
                <a class="button info tiny radius">Tela principal</a>
              </div>
            </div>

          </div>
        </form>
      </div>
    
    <div id="load" style="background-color:white;position:absolute;left:50%;top:50%;margin-left:-50px;margin-top:-15px;" class="hide">
      <i class="fa fa-refresh fa-spin fa-3x hide" style="margin-left:27px"></i>
      <h3>Aguarde</h3>
    </div>
       <!-- $Include templates/lib/html/footerscripts.html --> 

    <script src="templates/lib/js/jquery.mask.min.js"></script>
    <script>
      $(document).ready(function(){

          $('.cpf').mask('000.000.000-00');

          $('#form').on('valid', function() {
              sendAjax('index.php?usecase=manterUsuario&action=cadastroProfessor',$(this).serializeArray(),"Deu tudo certo.","Deu tudo errado"); 
           });

         
          //Função para enviar informações para o servidor; 

          function sendAjax(relativeUrl,data,successMsg,errorMsg){
            $('#load').removeClass('hide'); 
            $.ajax({
              url : relativeUrl, 
              method : "post", 
              data : data 
            }).done(function(data){
              console.log(data); 
              $('#info').append('<div data-alert class="alert-box success radius">'+successMsg+'<a href="#"class="close">x</a></div>'); 
      
            }).fail(function(){
              console.log('falhou');
              $('#info').append('<div data-alert class="alert-box alert radius">'+errorMsg+'<a href="#"class="close">x</a></div>'); 

            }).always(function(){
              $('#load').addClass('hide'); 
              $(document).foundation();

            }); 
          }

           function myFunc(){
            alert('nada');
          }

        });
    </script>

  </body>
</html>
