  <!doctype html>
  <html class="no-js" lang="pt">
  <head>
    <title>Oportunidades</title>
    <!-- $Include templates/lib/html/head.html --> 

    <style>

    .perfil_small{
      border-radius: 50px;
      width:60px; 
      height:60px;
    }

    p{
      font-family: inherit !important;
      font-weight: normal !important;
      line-height: 1.6 !important;
      font-size: 14px !important; 
      margin-bottom: 1.25rem !important;
      text-rendering: optimizeLegibility !important;
    }
    </style>

  </head>
  <body>
    <!-- $Include templates/lib/html/topbar.html --> 

    <div class="row fix-container" >
      <div class="medium-12 columns">
        <!-- começo -->
        <!-- cabeçalho -->
        <div class="row">
          <div class="medium-12 columns">
            <h2 class='cabecalho'>Oportunidades</h2>
          </div>
        </div>


        <!-- cabeçalho -->
        <div class="row">
          <div class="medium-12 columns">
            <span class="label secondary">A tabela abaixo conterá no máximo as 500 últimas oportunidades de emprego e pós-graduação que foram divulgadas. </span>
          </div>
        </div>


        <div class="row">
          <div class="medium-12 columns">
            <!--nova table-->
            <table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
              <thead>
               <tr>
                <th >Tipo</th>
                <th >Data de Divulgação</th>
                <th >Divulgador</th>
                <th ></th>
              </tr>
            </thead>

            <tbody>
              <!-- $BeginBlock row -->
              <tr>
                <td>${op.tipo}</td>
                <td>${op.data}</td>
                <td>${op.divulgador}</td>
                <td> <buttom value="${op.id}" class="button tiny action_op" style="margin:0">Ver detalhes</buttom></td>
              </tr>
              <!-- $EndBlock row -->
            </tbody>

            <tfoot>
             <tr>
              <th >Tipo</th>
              <th >Data de Divulgação</th>
              <th >Divulgador</th>
              <th ></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    

  </div>
</div>

<!-- Modais -->
<!-- Modal para a pós-graduação visualiação--> 
<div id="modal_pos_v" class="reveal-modal" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
  <h2 id="modal">Pós-Graduação</h2>
  <p class="lead" id="divulgado_pos">Divulgado em</p>
  <div class="row">
    <div class="medium-12 columns">
      <!-- começo formulário-->
      <form class="panel">

        <div class="row">
          <div class="medium-6 columns"> 
            <fieldset> <legend>Informações Gerais</legend>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Título: 
                    <p><i id="titulo_pos"></i></p>
                  </label> 
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Tipo:
                    <p><i id="tipo_pos"></i></p>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Área:
                    <p><i id="area_pos"></i></p>
                  </label> 
                </div>
              </div>
            </fieldset>
          </div>

          <div class="medium-6 columns">
            <fieldset > <legend>Contato</legend>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Telefone:<p><i id="telefone_pos"></i></p></label>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>E-mail: 
                    <p><i id="email_pos"></i></p>
                  </label> 
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Site:
                    <p><i id="site_pos"></i></p>
                  </label> 
                </div>
              </div>      
            </fieldset>
          </div>

        </div>  
        <div class="row" >
          <div class="medium-4 columns">
            <label>Pais:
              <p><i id="pais_pos"></i></p>
            </label>
          </div>

          <div  class="medium-4 columns hide" id='estado_div_id'>
            <label>Estado:
              <p><i id="estado_pos"></i></p>
            </label>
          </div>

          <div  class="medium-4 columns hide" id="cidade_div_id">
            <label>Cidade:
              <p><i id="cidade_pos"></i></p>
            </label>
          </div>

          <div  class="medium-8 columns" id="complemento_div_id">
            <label>Estado/Província/Região:
              <p class="text-justify" ><i id="complemento_pos"></i></p>
            </label> 
          </div>  

        </div>

        <div class="row">
          <div class="medium-3 columns">
            <label>Período de inscrição: <p><i id="data_inicio_pos"></i></p></label>
          </div>
          <div class="medium-3 columns end"> <label>Termina em: <p><i id="data_fim_pos"></i></p></label></div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <label>Informações Adicionais: <p class="text-justify" ><i id="infor_adicionais_pos"> 
            </i></p></label>
          </div>
        </div>

      </form>
      <!-- fim formulário -->
    </div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<!-- Modal para o emprego--> 
<div id="modal_emprego_v" class="reveal-modal" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
  <h2 id="modal">Emprego</h2>
  <p class="lead" id="divulgado_emprego">Divulgado em</p>
  <div class="row">
    <div class="medium-12 columns">
      <form class="panel" data-abide="ajax" >
        <div class="row">

          <div class="medium-6 columns">
            <fieldset><legend>Informações Gerais</legend>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Empresa: <p><i id="empresa_emprego"></i></p></label>  
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Área Profissional:
                    <p><i id="area_emprego"> </i></p>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Salário: <p><i id="salario_emprego"></i></p></label>
                </div>
              </div>

            </fieldset>
          </div>
          <div class="medium-6 columns">  
            <fieldset class="panel"> <legend>Contato</legend>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Telefone: 
                    <p><i id="telefone_emprego"></i></p>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Email:
                    <p><i id="email_emprego"></i></p>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Site:
                    <p><i id="site_emprego"></i></p>
                  </label>
                </div>
              </div>
            </fieldset> 
          </div>

        </div>

        <div class="row" >
          <div class="medium-4 columns">
            <label>Pais:
              <p><i id="pais_emprego"></i></p>
            </label>
          </div>

          <div id="emprego_estado_div" class="medium-4 columns hide">
            <label>Estado:
              <p><i id="estado_emprego"></i></p>
            </label>
          </div>

          <div id="emprego_cidade_div" class="medium-4 columns hide">
            <label>Cidade:
              <p><i id="cidade_emprego"></i></p>
            </label>
          </div>

          <div id="emprego_complemento_div" class="medium-8  columns">
            <label>Estado/Província/Região:
              <p><i id="complemento_emprego"></i></p>
            </label> 
          </div>  

        </div>

        <div class="row">
          <div class="medium-12 columns">
            <fieldset><legend>Requisitos necessários para concorrer à vaga</legend>
              <div class="row">
                <div class="medium-4 columns">
                  <label>Titulação:
                    <p><i id="graduacao_emprego"></i></p>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns ">
                  <label>Atividades a serem desenvolvidas e outros requisitos:
                    <p><i id="atividade_emprego"></i></p>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>


      </form>
      <!-- fim formulário -->
    </div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!-- Modais fim -->

<!-- botões --> 
<div class="row">
  <hr />
  <div class="medium-2 small-3 columns left">
    <a href="index.php?uc=telaPrincipal&a=principalView" class="button info tiny" >Tela principal</a>
  </div>
</div>

<!-- $Include templates/lib/html/footerscripts.html --> 
<script src="templates/lib/js/jquery.mask.min.js"></script>
<script src="templates/lib/js/md5.js"></script>
<script src="templates/lib/js/redirect.js"></script>
<script src="templates/lib/js/ajax.js"></script>
<script src="templates/lib/js/jquery.dataTables.min.js"></script>
<script src="templates/lib/js/metro.js"></script>

<script>
$(document).foundation();
$(document).ready(function(){
  $('.action_op').unbind().click(function(){
    var result = $(this).attr('value').split('-'); 

    if(parseInt(result[1])){
      sendAjax('index.php?uc=visualizar&a=posGraduacao','POST',{'id' : result[0] }, function(data){
        data = JSON.parse(data); 
        buildViewPos(data); 

        $('#modal_pos_v').foundation('reveal', 'open');
      }); 
    }else{
      sendAjax('index.php?uc=visualizar&a=emprego','POST',{'id' : result[0] }, function(data){
        data = JSON.parse(data); 
        buildViewEmprego(data); 

        $('#modal_emprego_v').foundation('reveal', 'open');
      });  
    }
  }); 

  function buildViewPos(data){
    $('#divulgado_pos').text("Divulgado em "+data['data_divulgacao']);
    $('#titulo_pos').text(data['titulo']);  
    $('#tipo_pos').text(data['titulo_academico']); 
    $('#area_pos').text(data['area']); 
    $('#telefone_pos').text(data['telefone']); 
    $('#email_pos').text(data['email']); 
    $('#site_pos').text(data['site']); 
    $('#pais_pos').text(data['pais']); 
    $('#estado_pos').text(data['estado']); 
    $('#cidade_pos').text(data['cidade']); 
    $('#complemento_pos').text(data['complemento']); 
    $('#infor_adicionais_pos').text(data['info_adicionais']); 
    $('#data_inicio_pos').text(data['data_inscr_inicio']); 
    $('#data_fim_pos').text(data['data_inscr_fim']); 

    if(data['complemento'] != '' ){
      $("#estado_div_id").addClass("hide");
      $("#cidade_div_id").addClass("hide"); 
      $("#complemento_div_id").removeClass("hide");
    }else{
      $("#estado_div_id").removeClass("hide");
      $("#cidade_div_id").removeClass("hide"); 
      $("#complemento_div_id").addClass("hide");
    }
  }


  function buildViewEmprego(data){
    $('#divulgado_emprego').text("Divulgado em "+data['data_divulgacao']);
  $('#empresa_emprego').text(data['empresa']); 
  $('#area_emprego').text(data['atuacao_profissional']); 
  $('#salario_emprego').text(data['salario']); 
  $('#telefone_emprego').text(data['telefone']); 
  $('#email_emprego').text(data['email']); 
  $('#site_emprego').text(data['site']); 
  $('#pais_emprego').text(data['pais']); 
  $('#estado_emprego').text(data['estado']); 
  $('#complemento_emprego').text(data['complemento']); 
  $('#cidade_emprego').text(data['cidade']); 
  $('#graduacao_emprego').text(data['titulo_academico']); 
  $('#atividade_emprego').text(data['info_adicionais']); 

  if(data['complemento'] != '' ){
    $("#emprego_estado_div").addClass("hide");
    $("#emprego_cidade_div").addClass("hide"); 
    $("#emprego_complemento_div").removeClass("hide");
  }else{
    $("#emprego_estado_div").removeClass("hide");
    $("#emprego_cidade_div").removeClass("hide"); 
    $("#emprego_complemento_div").addClass("hide");
  }

  }
}); 
  </script>
</body>
</html>
