<!--coordenador--> 
<ul id="drop2" data-dropdown-content class="f-dropdown" aria-hidden="true">
	<li><a href="index.php?uc=manterUsuario&a=cadastroEgressoView" >Cadastro Egresso</a></li>
	<li><a href="index.php?uc=manterUsuario&a=cadastroProfessorView" >Cadastro Professor</a></li>
	<li><a href="index.php?uc=manterCurso&a=novaDisciplinaView" >Nova Disciplina</a></li>
	<li><a href="index.php?uc=manterCurso&a=novaAreaView" >Nova Área de Atuação</a></li>
	<li><a href="index.php?uc=manterCurso&a=transferirView" >Transferir Cargo</a></li>
	<li><a href="index.php?uc=relatorios&a=relatorioView" >Emitir Relatórios</a></li>
</ul>