<!doctype html>
<html class="no-js" lang="pt">
<head>
  <!-- $Include templates/lib/html/head.html --> 
  <style type="text/css">
  .fix{
    margin-bottom:45px;
  }

  p{
    font-size: 14px; 
  }

  .msg{
    margin-bottom:0; 
    padding:4px;
    height: 250px;
  }

  .op{
    margin-top:35px;  
  }

  </style>
</head>
<body>
 <!-- top-bar --> 
 <!-- $Include templates/lib/html/topbar.html --> 
 <!-- top-bar fim --> 

 <div class="row" >

  <div class="large-3 columns">
    <div class="panel" style="height: 300px;">
      <a href="#"><img src="http://lorempixel.com/people/300/240/"/></a>
      <h5>${nome}</h5>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <section class="section">
          <i class="fa fa-graduation-cap tittle">SI</i>
        </section>
        <section class="section">
          <i class="fa fa-university tittle">UnuCET</i>
        </section>
        <section class="section">
          <i class="fa fa-eye tittle">34</i>
        </section>
      </div>
    </div>
  </div>
  <div class="large-6 columns">
    <form>
      <label>Compartilhe alguma coisa. 
        <textarea id="post_content" placeholder="No máximo 300 palavras." style="height:210px;"></textarea>
      </label>
    </form>
    <a href="#" id="publicar" class="button expand">Postar</a>
  </div>

  <div class="large-3 columns">
    <ul class="stack button-group" style="margin-top:20px;">
      <li><a href="index.php?uc=manterUsuario&a=alterarDadosView" class="button" ><i class="fa fa-pencil fa-fw" style="float:left;" ></i>Alterar Dados</a></li>
      <li><a href="#" class="button"><i class="fa fa-book fa-fw" style="float:left;"></i>Oportunidades</a></li>
      
      <li>
        <!--DropDown para divulgar-->
        <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown"><i class="fa fa-wifi fa-fw"style="float:left;"></i>Divulgar</a></li></button><br>
        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a href="#" data-reveal-id="modal_emprego">Emprego</a></li>
          <li><a href="#" data-reveal-id="modal_pos">Pós-graduação</a></li>
        </ul>
        <!--Fim DropDown --> 
      </li>
      
      <li>
       <!--DropDown para divulgar-->
       <button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button dropdown"><i class="fa fa-cog fa-fw"style="float:left;"></i>Configurações</a></li></button><br>

       ${tela.configuracao}

       <!--Fim DropDown --> 
     </li>

   </ul>
 </div>

</div>

<div class="row">
  <div class="medium-4 medium-centered columns">
    <h4 class="subheader medium-text-center">- Atividades recentes - </h4>
  </div>
</div>

<!--conteúdo--> 
<div class="row" >
 <div class="medium-12 columns" id="container" style="margin:0">


   <div class="medium-4 columns panel msg ">
    <div class="row">
      <div class="medium-3 columns small-3" ><img src="http://lorempixel.com/people/120/120/"/></div>
      <div class="medium-9 columns" style="padding-left:0;"><i class="fa fa-users"></i><strong>Maria Paula</strong> <small>às 20:30, 04/04/2015</small></div>
      <div class="medium-12 columns">
        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .
        </p>
      </div>
    </div>
  </div>

  <div class="medium-4 columns panel msg ">
    <div class="row">
      <div class="medium-3 columns small-3" ><img src="http://lorempixel.com/people/120/120/"/></div>
      <div class="medium-9 columns" style="padding-left:0;"><i class="fa fa-users"></i><strong>Maria Paula</strong> <small>às 20:30, 04/04/2015</small></div>
      <div class="medium-12 columns">
        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .
        </p>
      </div>
    </div>
  </div>




  <div class="medium-4 columns panel msg ">
    <div class="row">
      <div class="medium-3 columns small-3" ><img src="http://lorempixel.com/people/120/120/"/></div>
      <div class="medium-9 columns" style="padding-left:0;"><i class="fa fa-users"></i><strong>Maria Paula</strong> <small>às 20:30, 04/04/2015</small></div>
      <div class="medium-12 columns">
        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .
        </p>
      </div>
    </div>
  </div>


  <div class="medium-4 columns op">
    <div class="row">
      <ul class="pricing-table">
        <li class="title">Vaga na aera de TI</li>
        <li class="price">Salário: $99.99</li>
        <li class="cta-button"><a class="button tiny" href="#">Ver detalhes</a></li>
      </ul>
    </div>
  </div>


</div>
</div>

<!--Loading--> 
<div class="row">
  <div class="small-1 small-centered columns">
    <i class="fa fa-refresh fa-spin fa-3x"></i>
  </div>
</div>


<!--LOCAL DESTINADO PARA OS MODAIS --> 
<div id="modal_emprego" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Divulgar Emprego</h2>
  <p class="lead">Preencha o formulário</p>
  <!--Coloque o conteúdo do modal aqui--> 
  <!-- começo formulário-->
  <form id="form_emprego" data-abide="ajax" >
    <div class="row">

      <div class="medium-6 columns">
        <fieldset><legend>Informações Gerais</legend>

          <div class="row">
            <div class="medium-12 columns">
              <label>Empresa: <input name="empresa" type="text" ></label>  
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Área Profissional
                <select name="area_profissional_id">
                  <!-- $BeginBlock area-->
                  <option value="${area.id}"> ${area.des}</option>
                  <!-- $EndBlock area -->
                </select>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Salário<input name="salario" type="number"></label>
            </div>
          </div>

        </fieldset>
      </div>
      <div class="medium-6 columns">  
        <fieldset class="panel"> <legend>Contato</legend>
          <div class="row">
            <div class="medium-12 columns">
              <label>Telefone <small>Obrigatório</small>
                <input type="text" name="telefone" class="telefone" required>
              </label><small class="error">Preencha este campo. </small>
            </div>
          </div>
          <div class="row">
            <div class="medium-12 columns">
              <label>Email <small>Obrigatório</small>
                <input type="email" name="email" required>
              </label><small class="error">Preencha este campo. </small>     
            </div>
          </div>
          <div class="row">
            <div class="medium-12 columns">
              <label>Site <small>Obrigatório</small>
                <input type="text" name="site" required>
              </label><small class="error">Preencha este campo. </small>      
            </div>
          </div>
        </fieldset> 
      </div>

    </div>

    <div class="row" >
      <div class="medium-4 columns">
        <label>Pais
          <select id="emprego_pais" name="pais_id">
            <!-- $BeginBlock emprego.pais -->
            <option value="${emprego.pais.id}"> ${emprego.pais.des}</option>
            <!-- $EndBlock emprego.pais -->
          </select>
        </label>
      </div>

      <div id="emprego_estado" class="medium-4 columns hide">
        <label>Estado
          <select id="emprego_select_estado">
            <option value="">- Selecione -</option>
            <!-- $BeginBlock emprego.estado -->
            <option value="${emprego.estado.id}"> ${emprego.estado.des}</option>
            <!-- $EndBlock emprego.estado -->
          </select>
        </label>
      </div>

      <div id="emprego_cidade" class="medium-4 columns hide">
        <label>Cidade
          <select id="emprego_select_cidade" name="cidade_id" >
            <option>- Selectione Um Estado -</option>
          </select>
        </label>
      </div>

      <div id="emprego_complemento" class="medium-8  columns">
        <label>Estado/Província/Região
          <input type="text"  name="complemento" placeholder="Digite o complemento do seu endereço." >
        </label> 
      </div>  

    </div>

    <div class="row">
      <div class="medium-12 columns">
        <fieldset class="panel"><legend>Requisitos necessários para concorrer à vaga</legend>
          <div class="row">
            <div class="medium-4 columns">
              <label>Graduação 
                <select name="graduacao_id">
                  <option value="">- Selecione -</option>
                  <!-- $BeginBlock emprego.tipo -->
                  <option value="${emprego.tipo.id}"> ${emprego.tipo.des}</option>
                  <!-- $EndBlock emprego.tipo -->
                </select>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns ">
              <label>Atividades a serem desenvolvidas e outros requisitos
                <textarea name="info_adicionais"> </textarea>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns ">
        <div class="panel clearfix">
          <button type="submit" class="button success right">Divulgar</button>
        </div>
      </div>
    </div>

  </form>
  <!-- fim formulário -->
  <!--Fim conteúdo --> 
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- Modal para a pós-graduação--> 
<div id="modal_pos" class="reveal-modal" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
  <h2 id="modal">Divulgar Pós-Graduação</h2>
  <p class="lead">Preencha o formulário</p>
  <!--Coloque o conteúdo do modal aqui--> 
  <!-- começo formulário-->
  <form id="form_pos" data-abide="ajax">
    <div class="row">
      <div class="medium-6 columns"> 
        <fieldset> <legend>Informações Gerais</legend>
          <div class="row">
            <div class="medium-12 columns">
              <label>Título <small>Obrigatório</small>
                <input type="text" name="titulo" required >
              </label> <small class="error">Preencha este campo.</small>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label for="tipo">Tipo: <small>Obrigatório</small>
                <select id="tipo" name="titulo_academico_id" class="medium"  required>
                  <option value="">- Selecione -</option>
                  <!-- $BeginBlock pos.tipo -->
                  <option value="${pos.tipo.id}"> ${pos.tipo.des}</option>
                  <!-- $EndBlock pos.tipo -->
                </select>
              </label>
              <small class="error">Selecione algum item.</small>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Área <small>Obrigatório</small>
                <input type="text" name="area" required />
              </label> <small class="error">Preencha este campo.</small>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="medium-6 columns">
        <fieldset > <legend>Contato</legend>
          <div class="row">
            <div class="medium-12 columns">
              <label>Telefone <input type="text" name="telefone" class="telefone" /></label>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>E-mail <small>Obrigatório</small>
                <input type="email" name="email" required />
              </label> <small class="error">Preencha este campo.</small>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Site <small>Obrigatório</small>
                <input type="text" name="site" required />
              </label> <small class="error">Preencha este campo.</small>
            </div>
          </div>      
        </fieldset>
      </div>

    </div>  



    <div class="row" >
      <div class="medium-4 columns">
        <label>Pais
          <select id="pos_pais" name="pais_id" />
          <!-- $BeginBlock pos.pais -->
          <option value="${pos.pais.id}"> ${pos.pais.des}</option>
          <!-- $EndBlock pos.pais -->
        </select>
      </label>
    </div>

    <div id="pos_estado" class="medium-4 columns hide">
      <label>Estado
        <select id="pos_select_estado" >
          <option value="">- Selecione -</option>
          <!-- $BeginBlock pos.estado -->
          <option value="${pos.estado.id}"> ${pos.estado.des}</option>
          <!-- $EndBlock pos.estado -->
        </select>
      </label>
    </div>

    <div id="pos_cidade" class="medium-4 columns hide">
      <label>Cidade
        <select id="pos_select_cidade" name="cidade_id" >
          <option>- Selectione Um Estado -</option>
        </select>
      </label>
    </div>

    <div id="pos_complemento" class="medium-8  columns">
      <label>Estado/Província/Região
        <input type="text"  name="complemento" placeholder="Digite o complemento do seu endereço." >
      </label> 
    </div>  

  </div>

  <div class="row">
    <div class="medium-3 columns">
      <label>Período de inscrição <input type="date" name="data_inscr_inicio" /></label>
    </div>
    <div class="medium-3 columns end"> <label>Termina em  <input type="date" name="data_inscr_fim"/></label></div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <label>Informações Adicionais <textarea name="info_adicionais"></textarea></label>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns ">
      <div class="panel clearfix">
        <button type="submit" class="button success right">Divulgar</button>
      </div>
    </div>
  </div>

</form>
<!-- fim formulário -->
<!--Fim conteúdo --> 
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- Modal para a pós-graduação visualiação--> 
<div id="modal_pos_v" class="reveal-modal" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
  <h2 id="modal">Pós-Graduação</h2>
  <p class="lead" id="divulgado_pos">Divulgado em</p>
  <div class="row">
    <div class="medium-12 columns">
      <!-- começo formulário-->
      <form class="panel">

        <div class="row">
          <div class="medium-6 columns"> 
            <fieldset> <legend>Informações Gerais</legend>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Título 
                    <p><i id="titulo_pos">Ciencias Moleculares</i></p>
                  </label> 
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Tipo:
                    <p><i id="tipo_pos">Graduação</i></p>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Área 
                    <p><i id="area_pos">Banco de Dados</i></p>
                  </label> 
                </div>
              </div>
            </fieldset>
          </div>

          <div class="medium-6 columns">
            <fieldset > <legend>Contato</legend>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Telefone<p><i id="telefone_pos">(62) 1234-1324</i></p></label>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>E-mail 
                    <p><i id="email_pos">bsinet@hotmail.com</i></p>
                  </label> 
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Site 
                    <p><i id="site_pos">www.google.com.br</i></p>
                  </label> 
                </div>
              </div>      
            </fieldset>
          </div>

        </div>  
        <div class="row" >
          <div class="medium-4 columns">
            <label>Pais
              <p><i id="pais_pos">Brasil</i></p>
            </label>
          </div>

          <div  class="medium-4 columns hide" id='estado_div_id'>
            <label>Estado
              <p><i id="estado_pos">Goiás</i></p>
            </label>
          </div>

          <div  class="medium-4 columns hide" id="cidade_div_id">
            <label>Cidade
              <p><i id="cidade_pos">Anápolis</i></p>
            </label>
          </div>

          <div  class="medium-8 columns" id="complemento_div_id">
            <label>Estado/Província/Região
              <p class="text-justify" ><i id="complemento_pos">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</i></p>
              </label> 
            </div>  

          </div>

          <div class="row">
            <div class="medium-3 columns">
              <label>Período de inscrição <p><i id="data_inicio_pos">12/12/1212</i></p></label>
            </div>
            <div class="medium-3 columns end"> <label>Termina em  <p><i id="data_fim_pos">12/12/1212</i></p></label></div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Informações Adicionais <p class="text-justify" ><i id="infor_adicionais_pos"> 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i></p></label>
              </div>
            </div>

          </form>
          <!-- fim formulário -->
        </div>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>


    <!-- Modal para o emprego--> 
    <div id="modal_emprego_v" class="reveal-modal" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
      <h2 id="modal">Emprego</h2>
      <p class="lead" id="divulgado_emprego">Divulgado em</p>
      <div class="row">
        <div class="medium-12 columns">
          <form class="panel" data-abide="ajax" >
            <div class="row">

              <div class="medium-6 columns">
                <fieldset><legend>Informações Gerais</legend>

                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Empresa: <p><i id="empresa_emprego">Microsoft</i></p></label>  
                    </div>
                  </div>

                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Área Profissional
                        <p><i id="area_emprego">Banco de Dados</i></p>
                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Salário<p><i id="salario_emprego">2,000 reais</i></p></label>
                    </div>
                  </div>

                </fieldset>
              </div>
              <div class="medium-6 columns">  
                <fieldset class="panel"> <legend>Contato</legend>
                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Telefone 
                        <p><i id="telefone_emprego">(23) 1232 2213</i></p>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Email 
                        <p><i id="email_emprego">bsinet@hotmail.com</i></p>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Site 
                        <p><i id="site_emprego">www.google.com.br</i></p>
                      </label>
                    </div>
                  </div>
                </fieldset> 
              </div>

            </div>

            <div class="row" >
              <div class="medium-4 columns">
                <label>Pais
                  <p><i id="pais_emprego">Angola</i></p>
                </label>
              </div>

              <div id="emprego_estado_div" class="medium-4 columns hide">
                <label>Estado
                  <p><i id="estado_emprego">12/12/1212</i></p>
                </label>
              </div>

              <div id="emprego_cidade_div" class="medium-4 columns hide">
                <label>Cidade
                  <p><i id="cidade_emprego">12/12/1212</i></p>
                </label>
              </div>

              <div id="emprego_complemento_div" class="medium-8  columns">
                <label>Estado/Província/Região
                  <p><i id="complemento_emprego">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</i></p>
                  </label> 
                </div>  

              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <fieldset><legend>Requisitos necessários para concorrer à vaga</legend>
                    <div class="row">
                      <div class="medium-4 columns">
                        <label>Graduação 
                          <p><i id="graduacao_emprego">Pós-Graduação</i></p>
                        </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="medium-12 columns ">
                        <label>Atividades a serem desenvolvidas e outros requisitos
                          <p><i id="atividade_emprego">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i></p>
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>


              </form>
              <!-- fim formulário -->
            </div>
          </div>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        <!-- FIM MODAIS --> 


        <!-- $Include templates/lib/html/footerscripts.html --> 
        <script src="templates/lib/js/jquery.mask.min.js"></script>
        <script src="templates/lib/js/masonry.pkgd.min.js"></script>
        <script src="templates/lib/js/ajax.js"></script>

        <script>
        $(document).foundation();
        $(document).ready(function(){ 
          $('.telefone').mask('(99) 9999-9999');
  //Tratamento dos eventos dos formulários modais: 
  
  $('#form_emprego').on('valid', function() {
    var data = $(this).serializeArray(); 

    sendAjax('index.php?uc=divulgar&a=emprego','POST',data,function(data){
      alertify.log(data); 
      data = JSON.parse(data); 

      if(data['status'])
        alertify.success("O cadastro foi feito com sucesso");   
      else
        alertify.error("Error"); 
    });
    
  });

  $('#form_pos').on('valid', function() {
    var data = $(this).serializeArray(); 

    sendAjax('index.php?uc=divulgar&a=posGraduacao','POST',data,function(data){
      alertify.log(data); 
      data = JSON.parse(data); 

      if(data['status'])
        alertify.success("O cadastro foi feito com sucesso");   
      else
        alertify.error("Error"); 
    });
    
  });

  //Script final
  $('#emprego_pais').change(function(){
    var value = $('#emprego_pais option:selected ').val(); 

    if( value == 33 ){
      $('#emprego_complemento').addClass('hide'); 
      $('#emprego_estado').removeClass('hide');
      $('#emprego_cidade').removeClass('hide');
    }else{
      $('#emprego_complemento').removeClass('hide'); 
      $('#emprego_estado').addClass('hide');
      $('#emprego_cidade').addClass('hide');
    }

  }); 

  $('#pos_pais').change(function(){
    var value = $('#pos_pais option:selected ').val(); 

    if( value == 33 ){
      $('#pos_complemento').addClass('hide'); 
      $('#pos_estado').removeClass('hide');
      $('#pos_cidade').removeClass('hide');
    }else{
      $('#pos_complemento').removeClass('hide'); 
      $('#pos_estado').addClass('hide');
      $('#pos_cidade').addClass('hide');
    }
  }); 

  $('#emprego_select_estado').change(function(){
    var value = $('#emprego_select_estado option:selected ').val(); 
    var text = $('#emprego_select_estado option:selected ').text(); 

    sendAjax('index.php?uc=ajaxServices&a=getCities','POST',{'state' : value}, function(data){
      data = JSON.parse(data); 
      $('#emprego_select_cidade > option').each(function(){ this.remove(); }); 

      $.each(data, function (i, item) { 
        $('#emprego_select_cidade').append($('<option>', { 
          value: item,
          text : item 
        }));
      });
      alertify.success("As cidades do estado do(e) <b>"+text+"</b> foram carregadas."); 
    }); 

  }); 

  $('#pos_select_estado').change(function(){
    var value = $('#pos_select_estado option:selected ').val(); 
    var text = $('#emprego_select_estado option:selected ').text(); 

    sendAjax('index.php?uc=ajaxServices&a=getCities','POST',{'state' : value}, function(data){
      data = JSON.parse(data); 
      $('#pos_select_cidade > option').each(function(){ this.remove(); }); 

      $.each(data, function (i, item) { 
        $('#pos_select_cidade').append($('<option>', { 
          value: item,
          text : item 
        }));
      });
      alertify.success("As cidades do estado do(e) <b>"+text+"</b> foram carregadas.");
    }); 

  }); 

  //Manipulador para o botão de postagem
  $('#publicar').click(function(){
    var post = $("textarea#post_content").val();

    if(post == ''){
      alertify.error("Escreva uma mensagem antes."); 
      return; 
    } 
    sendAjax('index.php?uc=mensagens&a=mensagemMassa','POST',{'post' : post}, function(data){
      data = JSON.parse(data);
      if(data['status']){
        alertify.success("Sua mensagem foi publicada."); 
        $("textarea#post_content").val('');
      }else{
        alertify.error("Houve algum problema"); 
      } 
    });    
  });

  //Tirar isso aqui mais tarde. 
  var control = false; 
  var intervalo; 
  var date = ""; 

  $(window).scroll(function () 
  {
    if(control) return;
    if ( $(document).scrollTop() >= ($(document).height() - 900) ) 
    {
      control = true; 
      intervalo = setInterval(function(){

        sendAjax("index.php?uc=telaPrincipal&a=feed","POST",{'date' : date},function(data){
          data = JSON.parse(data); 

          if(data.length == 0 ){
            alertify.info("Não há mais mensagem para o período de "+ date);  
            return;  
          }
          for(var a = 0 ; a < data.length ; a++ ){
            if(data[a]['post'])
              addMsg(data[a]); 
            else
              addOpor(data[a]); 
          }

          date = data[data.length-1]['data_envio']; 
        }); 

        control = false;
        clearInterval(intervalo); 
      },500);
    }
  });

  function addMsg(data){
    var row = '<div class="medium-4 columns panel msg "> <div class="row"> <div class="medium-3 columns small-3"><img src="http://lorempixel.com/people/120/120/"/></div> <div class="medium-9 columns" style="padding-left:0;"><i class="fa fa-users"></i><strong>'+data['remetente']+'</strong> <small>às '+data['data_envio']+'</small></div> <div class="medium-12 columns" ><p class="text-justify">'+data['msg']+'</p> </div> </div> </div>'; 

    $('#container').append(row); 
  }

  function addOpor(data){
   var titulo = (data['graduacao']) ? "Pós-Graduacao" : "Emprego"; 
   var row = '<div class="medium-4 columns op"> <div class="row"> <ul class="pricing-table"> <li class="title">Oportunidade</li> <li class="price">'+titulo+'</li> <li class="cta-button"><a class="button tiny action_op" value="'+data['id']+'-'+data['graduacao']+'">Ver detalhes</a></li> </ul> </div> </div>'; 

   $('#container').append(row);  

   $('.action_op').unbind().click(function(){
    var result = $(this).attr('value').split('-'); 

    if(JSON.parse(result[1])){
      sendAjax('index.php?uc=visualizar&a=posGraduacao','POST',{'id' : result[0] }, function(data){
        alertify.log(data); 
        data = JSON.parse(data); 
        buildViewPos(data); 

        $('#modal_pos_v').foundation('reveal', 'open');
      }); 
    }else{
      sendAjax('index.php?uc=visualizar&a=emprego','POST',{'id' : result[0] }, function(data){
        alertify.log(data); 
        data = JSON.parse(data); 
        buildViewEmprego(data); 

        $('#modal_emprego_v').foundation('reveal', 'open');
      });  
    }
  }); 
 }

 function buildViewPos(data){
  $('#divulgado_pos').text("Divulgado em "+data['data_divulgacao']);
  $('#titulo_pos').text(data['titulo']);  
  $('#tipo_pos').text("Não está vindo do banco de dados. "); 
  $('#area_pos').text(data['area']); 
  $('#telefone_pos').text(data['telefone']); 
  $('#email_pos').text(data['email']); 
  $('#site_pos').text(data['site']); 
  $('#pais_pos').text(data['pais']); 
  $('#estado_pos').text(data['estado']); 
  $('#cidade_pos').text(data['cidade']); 
  $('#complemento_pos').text(data['complemento']); 
  $('#infor_adicionais_pos').text(data['info_adicionais']); 
  $('#data_inicio_pos').text(data['data_inscr_inicio']); 
  $('#data_fim_pos').text(data['data_inscr_fim']); 

  if(data['complemento'] != '' ){
    $("#estado_div_id").addClass("hide");
    $("#cidade_div_id").addClass("hide"); 
    $("#complemento_div_id").removeClass("hide");
  }else{
    $("#estado_div_id").removeClass("hide");
    $("#cidade_div_id").removeClass("hide"); 
    $("#complemento_div_id").addClass("hide");
  }
}


function buildViewEmprego(data){
  $('#divulgado_emprego').text("Divulgado em "+data['data_divulgacao']);
  $('#empresa_emprego').text(data['empresa']); 
  $('#area_emprego').text(data['atuacao_profissional']); 
  $('#salario_emprego').text(data['salario']); 
  $('#telefone_emprego').text(data['telefone']); 
  $('#email_emprego').text(data['email']); 
  $('#site_emprego').text(data['site']); 
  $('#pais_emprego').text(data['pais']); 
  $('#estado_emprego').text(data['estado']); 
  $('#complemento_emprego').text(data['complemento']); 
  $('#cidade_emprego').text(data['cidade']); 
  $('#graduacao_emprego').text(data['atuacao_profissional']); 
  $('#atividade_emprego').text(data['info_adicionais']); 

  if(data['complemento'] != '' ){
    $("#emprego_estado_div").addClass("hide");
    $("#emprego_cidade_div").addClass("hide"); 
    $("#emprego_complemento_div").removeClass("hide");
  }else{
    $("#emprego_estado_div").removeClass("hide");
    $("#emprego_cidade_div").removeClass("hide"); 
    $("#emprego_complemento_div").addClass("hide");
  }

}

}); 

</script>
</body>
</html>
