<!doctype html>
<html class="no-js" lang="pt">
<head>
  <title>Tela principal</title>
  <!-- $Include templates/lib/html/head.html --> 
  <style type="text/css">
  .fix{
    margin-bottom:45px;
  }

  p{
    font-size: 14px; 
  }

  .msg{
    margin: 1px;
    padding: 4px;
    height: 250px;
    width: 320px;
  }

  .op{
    margin-top:35px;  
  }

  .perfil_large{
    border-radius: 60px; 
    margin-left: 20px;
  }
  .perfil_small{
    border-radius: 50px;
    margin-top: -23px;
    width:60px;
    height:60px;
  }

  .perfil_box{
    padding:5px;
  }

  </style>
</head>
<body>
 <!-- top-bar --> 
 <!-- $Include templates/lib/html/topbar.html --> 
 <!-- top-bar fim --> 

 <div class="row perfil_box" style="margin-top:60px;" >

  <!-- Notificações -->
  <div class="row ${is_hide}" >
    <div class="medium-12  columns">
      <div data-alert class="alert-box secondary ">
        ${msg}
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <!-- Fim Notificações -->

  <div class="large-3 columns">
    <div class="panel" style="height: 280px;">
      <img src="${foto}" class="perfil_large" />
      <h6 style="font-size:15px;" class="text-center">${nome}</h6>
      <!-- separator -->
    </hr>
    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">

      <section class="section">
        <i class="fa fa-eye tittle">${visualizacao}</i>
      </section>
    </div>
  </div>
</div>
<div class="large-6 columns">
  <form>
   <!--  <label>Compartilhe alguma coisa. --> 
   <textarea id="post_content" placeholder="Compartilhe alguma coisa" style="height:210px;"></textarea>
   <!--  </label> -->
 </form>
 <a href="#" id="publicar" class="button expand">Postar</a>
</div>

<div class="large-3 columns">
  <ul class="stack button-group">
    <li><a href="index.php?uc=manterUsuario&a=alterarDadosView" class="button" ><i class="fa fa-pencil fa-fw" style="float:left;" ></i>Alterar Dados</a></li>
    <li><a href="index.php?uc=visualizar&a=oportunidadesView" class="button"><i class="fa fa-book fa-fw" style="float:left;"></i>Oportunidades</a></li>

    <li>
      <!--DropDown para divulgar-->
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown"><i class="fa fa-wifi fa-fw"style="float:left;"></i>Divulgar</a></li></button>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <li><a href="#" data-reveal-id="modal_emprego">Emprego</a></li>
        <li><a href="#" data-reveal-id="modal_pos">Pós-graduação</a></li>
      </ul>
      <!--Fim DropDown --> 
    </li>

    <li>
     <!--DropDown para divulgar-->
     <button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button dropdown"><i class="fa fa-cog fa-fw"style="float:left;"></i>Configurações</a></li></button><br>

     ${tela.configuracao}

     <!--Fim DropDown --> 
   </li>

 </ul>
</div>

</div>

<div class="row">
  <div class="medium-4 medium-centered columns">
    <h4 class="cabecalho medium-text-center">- Atividades recentes - </h4>
  </div>
</div>



<!--conteúdo--> 
<div class="row" style="min-height:50%;">
 <div class="medium-12 columns" id="container" style="margin:0">

<!-- 
   <div class="medium-4 columns panel msg ">
    <div class="row">
      <div class="medium-3 columns small-3" ><a class="bnt_mensagem"><img src="http://lorempixel.com/people/120/120/" class="perfil_small" /></a>  </div>
      <div class="medium-9 columns" style="padding-left:0;"><i>Maria Paula</i> <br><small>às 20:30, 04/04/2015</small></div>
      <div class="medium-12 columns">
        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .
        </p>
      </div>
    </div>
  </div>

  <div class="medium-4 columns panel msg ">
    <i class="fa fa-envelope right" style="margin-bottom: -20px;"></i>
    <div class="row">
      <div class="medium-3 columns small-3" ><img src="http://lorempixel.com/people/120/120/" class="perfil_small"  /></div>
      <div class="medium-9 columns" style="padding-left:0;"><i>Maria Paula</i> <br><small>às 20:30, 04/04/2015</small></div>
      <div class="medium-12 columns">
        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .
        </p>
      </div>
    </div>
  </div>


  <div class="medium-4 columns msg " style="padding:0;">
    <ul class="pricing-table">
      <li class="title">Vaga na aera de TI</li>
      <li class="price" style="height: 82px;">Salário: $99.99</li>
      <li class="cta-button" style="height: 120px;"><a class="button tiny" href="#">Ver detalhes</a></li>
    </ul>
  </div> -->


</div>
</div>

<!--Loading--> 
<div class="row">
  <div class="small-1 small-centered columns">
    <i class="fa fa-refresh fa-spin fa-3x"></i>
  </div>
</div>


<!--LOCAL DESTINADO PARA OS MODAIS --> 
<div id="modal_emprego" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Divulgar Emprego</h2>
  <p class="lead">Preencha o formulário</p>
  <!--Coloque o conteúdo do modal aqui--> 
  <!-- começo formulário-->
  <form id="form_emprego" data-abide="ajax" >
    <div class="row">

      <div class="medium-6 columns">
        <fieldset><legend>Informações Gerais</legend>

          <div class="row">
            <div class="medium-12 columns">
              <label>Empresa: <input name="empresa" type="text" ></label>  
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Área Profissional <small> <a href="mailto:${coordenador.email}?subject=Solicitação de cadastro de área de atuação profissional" "teste">Não tem a área que procuro</a> </small>
                <select name="area_profissional_id" required>
                  <option value="">- Selecione -</option>
                  <!-- $BeginBlock area-->
                  <option value="${area.id}"> ${area.des}</option>
                  <!-- $EndBlock area -->
                </select>
              </label> <small class="error">Selecione uma área de atuação</small>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Salário<input name="salario" type="number" min='0'></label>
            </div>
          </div>

        </fieldset>
      </div>
      <div class="medium-6 columns">  
        <fieldset class="panel"> <legend>Contato</legend>
          <div class="row">
            <div class="medium-12 columns">
              <label>Telefone <small>Obrigatório</small>
                <input type="text" name="telefone" class="telefone" required>
              </label><small class="error">Preencha este campo. </small>
            </div>
          </div>
          <div class="row">
            <div class="medium-12 columns">
              <label>Email <small>Obrigatório</small>
                <input type="email" name="email" required>
              </label><small class="error">Preencha este campo. </small>     
            </div>
          </div>
          <div class="row">
            <div class="medium-12 columns">
              <label>Site <small>Obrigatório</small>
                <input type="text" name="site" required>
              </label><small class="error">Preencha este campo. </small>      
            </div>
          </div>
        </fieldset> 
      </div>

    </div>

    <div class="row" >
      <div class="medium-4 columns">
        <label>Pais
          <select id="emprego_pais" name="pais_id">
            <!-- $BeginBlock pais -->
            <option ${pais.marcado} value="${pais.id}"> ${pais.des}</option>
            <!-- $EndBlock pais -->
          </select>
        </label>
      </div>

      <div id="emprego_estado" class="medium-4 columns hide">
        <label>Estado
          <select id="emprego_select_estado">
            <option value="">- Selecione -</option>
            <!-- $BeginBlock estado -->
            <option value="${estado.id}"> ${estado.des}</option>
            <!-- $EndBlock estado -->
          </select>
        </label>
      </div>

      <div id="emprego_cidade" class="medium-4 columns hide">
        <label>Cidade
          <select id="emprego_select_cidade" name="cidade_id" >
            <option>- Selecione um Estado -</option>
          </select>
        </label>
      </div>

      <div id="emprego_complemento" class="medium-8  columns">
        <label>Estado/Província/Região
          <input type="text"  name="complemento" placeholder="Digite o complemento do seu endereço." >
        </label> 
      </div>  

    </div>

    <div class="row">
      <div class="medium-12 columns">
        <fieldset class="panel"><legend>Requisitos necessários para concorrer à vaga</legend>
          <div class="row">
            <div class="medium-4 columns">
              <label>Titulação
                <select name="graduacao_id">
                  <option value="">- Selecione -</option>
                  <!-- $BeginBlock emprego.tipo -->
                  <option value="${emprego.tipo.id}"> ${emprego.tipo.des}</option>
                  <!-- $EndBlock emprego.tipo -->
                </select>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns ">
              <label>Atividades a serem desenvolvidas e outros requisitos
                <textarea name="info_adicionais"> </textarea>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns ">
        <div class="panel clearfix">
          <button type="submit" class="button success right tiny">Divulgar</button>
        </div>
      </div>
    </div>

  </form>
  <!-- fim formulário -->
  <!--Fim conteúdo --> 
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- Modal para a pós-graduação--> 
<div id="modal_pos" class="reveal-modal" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
  <h2 id="modal">Divulgar Pós-Graduação</h2>
  <p class="lead">Preencha o formulário</p>
  <!--Coloque o conteúdo do modal aqui--> 
  <!-- começo formulário-->
  <form id="form_pos" data-abide="ajax">
    <div class="row">
      <div class="medium-6 columns"> 
        <fieldset> <legend>Informações Gerais</legend>
          <div class="row">
            <div class="medium-12 columns">
              <label>Título <small>Obrigatório</small>
                <input type="text" name="titulo" required >
              </label> <small class="error">Preencha este campo.</small>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label for="tipo">Tipo: <small>Obrigatório</small>
                <select id="tipo" name="titulo_academico_id" class="medium"  required>
                  <option value="">- Selecione -</option>
                  <!-- $BeginBlock pos.tipo -->
                  <option value="${pos.tipo.id}"> ${pos.tipo.des}</option>
                  <!-- $EndBlock pos.tipo -->
                </select>
              </label>
              <small class="error">Selecione algum item.</small>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Área <small>Obrigatório</small>
                <input type="text" name="area" required />
              </label> <small class="error">Preencha este campo.</small>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="medium-6 columns">
        <fieldset > <legend>Contato</legend>
          <div class="row">
            <div class="medium-12 columns">
              <label>Telefone <input type="text" name="telefone" class="telefone" /></label>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>E-mail <small>Obrigatório</small>
                <input type="email" name="email" required />
              </label> <small class="error">Preencha este campo.</small>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Site <small>Obrigatório</small>
                <input type="text" name="site" required />
              </label> <small class="error">Preencha este campo.</small>
            </div>
          </div>      
        </fieldset>
      </div>

    </div>  



    <div class="row" >
      <div class="medium-4 columns">
        <label>Pais
          <select id="pos_pais" name="pais_id" />
          <!-- $BeginBlock pais -->
          <option ${pais.marcado} value="${pais.id}"> ${pais.des}</option>
          <!-- $EndBlock pais -->
        </select>
      </label>
    </div>

    <div id="pos_estado" class="medium-4 columns hide">
      <label>Estado <small>Obrigatório</small>
        <select id="pos_select_estado" required >
          <option value="">- Selecione -</option>
          <!-- $BeginBlock estado -->
          <option value="${estado.id}"> ${estado.des}</option>
          <!-- $EndBlock estado -->
        </select>
      </label> <small class="error">Selecione um estado.</small>
    </div>

    <div id="pos_cidade" class="medium-4 columns hide">
      <label>Cidade <small>Obrigatório</small>
        <select id="pos_select_cidade" name="cidade_id" required >
          <option>- Selecione um Estado -</option>
        </select> 
      </label><small class="error">Selecione uma cidade. </small>
    </div>

    <div id="pos_complemento" class="medium-8  columns">
      <label>Estado/Província/Região
        <input type="text"  name="complemento" placeholder="Digite o complemento do seu endereço." >
      </label> 
    </div>  

  </div>

  <div class="row">
    <div class="medium-3 columns">
      <label>Período de inscrição <input type="date" name="data_inscr_inicio" /></label>
    </div>
    <div class="medium-3 columns end"> <label>Termina em  <input type="date" name="data_inscr_fim"/></label></div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <label>Informações Adicionais <textarea name="info_adicionais"></textarea></label>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns ">
      <div class="panel clearfix">
        <button type="submit" class="button success right tiny">Divulgar</button>
      </div>
    </div>
  </div>

</form>
<!-- fim formulário -->
<!--Fim conteúdo --> 
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- Modal para a pós-graduação visualiação--> 
<div id="modal_pos_v" class="reveal-modal" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
  <h2 id="modal">Pós-Graduação</h2>
  <p class="lead" id="divulgado_pos">Divulgado em</p>
  <div class="row">
    <div class="medium-12 columns">
      <!-- começo formulário-->
      <form class="panel">

        <div class="row">
          <div class="medium-6 columns"> 
            <fieldset> <legend>Informações Gerais</legend>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Título: 
                    <p><i id="titulo_pos"></i></p>
                  </label> 
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Tipo:
                    <p><i id="tipo_pos"></i></p>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Área:
                    <p><i id="area_pos"></i></p>
                  </label> 
                </div>
              </div>
            </fieldset>
          </div>

          <div class="medium-6 columns">
            <fieldset > <legend>Contato</legend>
              <div class="row">
                <div class="medium-12 columns">
                  <label>Telefone:<p><i id="telefone_pos"></i></p></label>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>E-mail: 
                    <p><i id="email_pos"></i></p>
                  </label> 
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <label>Site:
                    <p><i id="site_pos"></i></p>
                  </label> 
                </div>
              </div>      
            </fieldset>
          </div>

        </div>  
        <div class="row" >
          <div class="medium-4 columns">
            <label>Pais:
              <p><i id="pais_pos"></i></p>
            </label>
          </div>

          <div  class="medium-4 columns hide" id='estado_div_id'>
            <label>Estado:
              <p><i id="estado_pos"></i></p>
            </label>
          </div>

          <div  class="medium-4 columns hide" id="cidade_div_id">
            <label>Cidade:
              <p><i id="cidade_pos"></i></p>
            </label>
          </div>

          <div  class="medium-8 columns" id="complemento_div_id">
            <label>Estado/Província/Região:
              <p class="text-justify" ><i id="complemento_pos"></i></p>
              </label> 
            </div>  

          </div>

          <div class="row">
            <div class="medium-3 columns">
              <label>Período de inscrição: <p><i id="data_inicio_pos"></i></p></label>
            </div>
            <div class="medium-3 columns end"> <label>Termina em: <p><i id="data_fim_pos"></i></p></label></div>
          </div>

          <div class="row">
            <div class="medium-12 columns">
              <label>Informações Adicionais: <p class="text-justify" ><i id="infor_adicionais_pos"> 
                </i></p></label>
              </div>
            </div>

          </form>
          <!-- fim formulário -->
        </div>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>


    <!-- Modal para o emprego--> 
    <div id="modal_emprego_v" class="reveal-modal" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
      <h2 id="modal">Emprego</h2>
      <p class="lead" id="divulgado_emprego">Divulgado em</p>
      <div class="row">
        <div class="medium-12 columns">
          <form class="panel" data-abide="ajax" >
            <div class="row">

              <div class="medium-6 columns">
                <fieldset><legend>Informações Gerais</legend>

                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Empresa: <p><i id="empresa_emprego"></i></p></label>  
                    </div>
                  </div>

                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Área Profissional:
                        <p><i id="area_emprego"> </i></p>
                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Salário: <p><i id="salario_emprego"></i></p></label>
                    </div>
                  </div>

                </fieldset>
              </div>
              <div class="medium-6 columns">  
                <fieldset class="panel"> <legend>Contato</legend>
                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Telefone: 
                        <p><i id="telefone_emprego"></i></p>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Email:
                        <p><i id="email_emprego"></i></p>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-12 columns">
                      <label>Site:
                        <p><i id="site_emprego"></i></p>
                      </label>
                    </div>
                  </div>
                </fieldset> 
              </div>

            </div>

            <div class="row" >
              <div class="medium-4 columns">
                <label>Pais:
                  <p><i id="pais_emprego"></i></p>
                </label>
              </div>

              <div id="emprego_estado_div" class="medium-4 columns hide">
                <label>Estado:
                  <p><i id="estado_emprego"></i></p>
                </label>
              </div>

              <div id="emprego_cidade_div" class="medium-4 columns hide">
                <label>Cidade:
                  <p><i id="cidade_emprego"></i></p>
                </label>
              </div>

              <div id="emprego_complemento_div" class="medium-8  columns">
                <label>Estado/Província/Região:
                  <p><i id="complemento_emprego"></i></p>
                  </label> 
                </div>  

              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <fieldset><legend>Requisitos necessários para concorrer à vaga</legend>
                    <div class="row">
                      <div class="medium-4 columns">
                        <label>Graduação:
                          <p><i id="graduacao_emprego"></i></p>
                        </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="medium-12 columns ">
                        <label>Atividades a serem desenvolvidas e outros requisitos:
                          <p><i id="atividade_emprego"></i></p>
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>


              </form>
              <!-- fim formulário -->
            </div>
          </div>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>


        <!-- Modal mensagem direta--> 
        <div id="mensagem_direta" class="reveal-modal tiny" data-reveal aria-labelledby="modal" aria-hidden="true" role="dialog">
          <h2 id="modal">Mensagem direta</h2>
          <div class="row">
            <div class="medium-6 medium-centered columns">
             <img id="perfil_img" src="" class="perfil_large" />
           </div>
         </div>

         <div class="row">
          <div class="medium-12 columns">
            <blockquote id="texto_msg" class="text-justify"><cite id="autor"></cite></blockquote>
          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <textarea id="msg_content"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <button  id="bnt_mensagem" class="button" style="width: 100%;">Enviar</button>
          </div>
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <!-- FIM MODAIS --> 


      <!-- $Include templates/lib/html/footerscripts.html --> 
      <script src="templates/lib/js/jquery.mask.min.js"></script>
      <script src="templates/lib/js/ajax.js"></script>
      <script src="templates/lib/js/js.cookie.js"></script>

      <script>
      $(document).foundation();
      $(document).ready(function(){ 
        $('.telefone').mask('(99) 9999-99999');

        //Modal para alterar os dados: 
        var interval; 
        //control = a função refresh está fazendo uma requisição
        //locker  = já leu todas as mensagens, não fazer mais solicitações. 

        var control = false, locker = false; 
        var intervalo; 
        var date = ""; 

        lancarModalAlterouDados();
        refresh(); 
        switchEmpregoPais(); 
        switchPosPais(); 
        
        //Tratando mensagens diretas na timeline
        $("#bnt_mensagem").click(function(){
          var id = $(this).val(); 
          var msg = $('#msg_content').val(); 

          if(msg == ''){
            alertify.error("Escreva uma mensagem antes."); 
            return; 
          } 

          var data = {'id' : id, 'mensagem' : msg}; 
          sendAjax('index.php?uc=mensagens&a=mensagemDireta','POST',data,function(data){
            data = JSON.parse(data); 

            if(data['status']){
              $('#mensagem_direta').foundation('reveal', 'close');
              alertify.success("Mensagem enviada."); 
            }else
            alertify.warning(data['msg']); 
          }); 
        }); 


  //Tratamento dos eventos dos formulários modais: 
  $('#form_emprego').on('valid', function() {
    var data = $(this).serializeArray(); 
    var form = $(this); 
    sendAjax('index.php?uc=divulgar&a=emprego','POST',data,function(data){
      data = JSON.parse(data); 

      if(data['status']){
        alertify.success("Divulgado com sucesso. ");   
        form.get(0).reset(); 
        refreshTimelineOnMessage(); 
        $('#modal_emprego').foundation('reveal', 'close');
      }
      else
        alertify.error(data['msg']); 
    },function(data){console.log(data)});
    
  });

  $('#form_pos').on('valid', function() {
    var data = $(this).serializeArray(); 
    var form = $(this); 

    sendAjax('index.php?uc=divulgar&a=posGraduacao','POST',data,function(data){
      data = JSON.parse(data); 

      if(data['status']){
        alertify.success("Divulgado com sucesso. ");   
        form.get(0).reset(); 
        refreshTimelineOnMessage(); 
        $('#modal_emprego').foundation('reveal', 'close');
      }  
      else
        alertify.error(data['msg']); 
    },function(data){console.log(data)});
    
  });

  //Script final
  $('#emprego_pais').change(function(){switchEmpregoPais()}); 
  $('#pos_pais').change(function(){switchPosPais()}); 
 

$('#emprego_select_estado').change(function(){
  var value = $('#emprego_select_estado option:selected ').val(); 
  var text = $('#emprego_select_estado option:selected ').text(); 

  sendAjax('index.php?uc=ajaxServices&a=getCities','POST',{'state' : value}, function(data){
    data = JSON.parse(data); 
    $('#emprego_select_cidade > option').each(function(){ this.remove(); }); 

    $.each(data, function (i, item) { 
      $('#emprego_select_cidade').append($('<option>', { 
        value: item,
        text : item 
      }));
    });
    alertify.success("As cidades do estado do(e) <b>"+text+"</b> foram carregadas."); 
  }); 

}); 

$('#pos_select_estado').change(function(){
  var value = $('#pos_select_estado option:selected ').val(); 
  var text = $('#pos_select_estado option:selected ').text(); 

  sendAjax('index.php?uc=ajaxServices&a=getCities','POST',{'state' : value}, function(data){
    data = JSON.parse(data); 
    $('#pos_select_cidade > option').each(function(){ this.remove(); }); 

    $.each(data, function (i, item) { 
      $('#pos_select_cidade').append($('<option>', { 
        value: item,
        text : item 
      }));
    });
    alertify.success("As cidades do estado do(e) <b>"+text+"</b> foram carregadas.");
  }); 

}); 

  //Manipulador para o botão de postagem
  $('#publicar').click(function(){
    var post = $("textarea#post_content").val();

    if(post == ''){
      alertify.error("Escreva uma mensagem antes."); 
      return; 
    } 
    sendAjax('index.php?uc=mensagens&a=mensagemMassa','POST',{'post' : post}, function(data){
      data = JSON.parse(data);
      if(data['status']){
        alertify.success("Sua mensagem foi publicada."); 
        $("textarea#post_content").val('');
        refreshTimelineOnMessage(); 
      }else{
        alertify.warning(data['msg']); 
      } 
    });    
  });

  //Tirar isso aqui mais tarde. 
  

  $(window).scroll(function(){refresh()});

  function addMsg(data){

    var temp = ""; 
    if(!data['publica'])
      temp = '<i class="fa fa-envelope right" style="margin-bottom: -20px;"></i>'; 

    var row = '<div class="medium-4 columns panel msg">  '+temp+'<div class="row"> <div class="medium-3 columns small-3"><a class="bnt_mensagem"><img src="'+data['foto']+'" class="perfil_small" /></a></div> <input type="hidden" value="'+data['id_user_origem']+'" /> <div class="medium-9 columns" style="padding-left:0;"></i><i id="remetente">'+data['remetente']+'</i><br> <small>às '+ dataFormat(data['data_envio'])+'. '+turmaFormat(data['turma'],data['semestre'])+'</small></div> <div class="medium-12 columns" ><p class="text-justify">'+data['msg']+'</p> </div> </div> </div>'; 

    $('#container').append(row).children(':last').hide().fadeIn(700); 
  }

  function addOpor(data){
   var titulo = (data['graduacao']) ? "Pós-Graduação" : "Emprego"; 
   var row = '<div class="medium-4 columns msg" style="padding:0;"> <ul class="pricing-table"> <li class="title">Oportunidade</li> <li class="price" style="height: 82px;">'+titulo+'</li> <li class="cta-button" style="height: 120px;"><a class="button tiny action_op" value="'+data['id']+'-'+data['graduacao']+'">Ver detalhes</a></li> </ul>  </div>'; 

   $('#container').append(row).children(':last').hide().fadeIn(700);  

   $('.action_op').unbind().click(function(){
    var result = $(this).attr('value').split('-'); 

    if(JSON.parse(result[1])){
      sendAjax('index.php?uc=visualizar&a=posGraduacao','POST',{'id' : result[0] }, function(data){
        data = JSON.parse(data); 
        buildViewPos(data); 

        $('#modal_pos_v').foundation('reveal', 'open');
      }); 
    }else{
      sendAjax('index.php?uc=visualizar&a=emprego','POST',{'id' : result[0] }, function(data){
        data = JSON.parse(data); 
        buildViewEmprego(data); 

        $('#modal_emprego_v').foundation('reveal', 'open');
      });  
    }
  }); 
 }

 function buildViewPos(data){
  $('#divulgado_pos').text("Divulgado em "+data['data_divulgacao']);
  $('#titulo_pos').text(data['titulo']);  
  $('#tipo_pos').text(data['titulo_academico']); 
  $('#area_pos').text(data['area']); 
  $('#telefone_pos').text(data['telefone']); 
  $('#email_pos').text(data['email']); 
  $('#site_pos').text(data['site']); 
  $('#pais_pos').text(data['pais']); 
  $('#estado_pos').text(data['estado']); 
  $('#cidade_pos').text(data['cidade']); 
  $('#complemento_pos').text(data['complemento']); 
  $('#infor_adicionais_pos').text(data['info_adicionais']); 
  $('#data_inicio_pos').text(data['data_inscr_inicio']); 
  $('#data_fim_pos').text(data['data_inscr_fim']); 

  if(data['complemento'] != '' ){
    $("#estado_div_id").addClass("hide");
    $("#cidade_div_id").addClass("hide"); 
    $("#complemento_div_id").removeClass("hide");
  }else{
    $("#estado_div_id").removeClass("hide");
    $("#cidade_div_id").removeClass("hide"); 
    $("#complemento_div_id").addClass("hide");
  }
}

function buildDirectMsg(data){
  data = $(data).parent().parent();
  console.log(jQuery(data).find('input').val()); 
  //adicionando valores ao modal: 
  $("#perfil_img").attr('src',jQuery(data).find('img').attr('src')); 
  $("#texto_msg").text(jQuery(data).find('p').text()); 
  $("#texto_msg").append("<cite>"+jQuery(data).find('i#remetente').text()+"</cite>"); 
  $("#bnt_mensagem").val(jQuery(data).find('input').val()); 
  $("#msg_content").val(''); 
  $('#mensagem_direta').foundation('reveal', 'open');
}

function refreshTimelineOnMessage(){
  date   = ''; 
  locker = false; 
  $('#container').empty(); 
  refresh(); 
}

function refresh(){
  if(locker) return; 

  if(control) return;

  if ( $(document).scrollTop() >= ($(document).height() - 900) ) 
  {
    control = true; 
    intervalo = setInterval(function(){

      sendAjax("index.php?uc=telaPrincipal&a=feed","POST",{'date' : date},function(data){
        data = JSON.parse(data); 

        if( data['status'] != null && !data['status']){
          alertify.warning("Não há mais mensagens antes deste período de "+ dataFormat(date), "", 0);  
          locker = true; 
          return;  
        }
        for(var a = 0 ; a < data.length ; a++ ){
          if(data[a]['post'])
            addMsg(data[a]); 
          else
            addOpor(data[a]); 
        }

        if(data.length > 0)
          date = data[data.length-1]['data_envio']; 

        $(".bnt_mensagem").unbind().click(function(){
          buildDirectMsg(this); 
        });

      }); 

      control = false;
      clearInterval(intervalo); 
    },500);
  }
}

function lancarModalAlterouDados(){
  var alterouDado = Cookies.get('egresso');  

  if(!parseInt(alterouDado)){
    interval = setInterval(function(){
      alertify.confirm('Hey, parece que você ainda não atualizou seus dados. Quer fazer isso agora mesmo?').set('labels', {ok:'Sim', cancel:'Faço isso mais tarde'}).set('onok',function(evento){
        redirect('index.php',{uc : 'manterUsuario', a : 'alterarDadosView' },'GET'); 
      }); 
      clearInterval(interval); 
    },10500); 

    Cookies.remove('egresso'); 
    Cookies.set('egresso', '1', { expires: 0.0208333333333333, path: '/' });
  }
}

function dataFormat(data){
  data = data.split(' '); 
  var temp = data[1]+', '+ data[0].replace('-','/').replace('-','/').replace('-','/'); 
  return temp; 
}

function turmaFormat(turma, semestre){
  if(typeof turma == 'object')
    return '<b>Professor</b>'; 
  else{
    var temp =(semestre == 1 ) ? "primeiro" : "segundo"; 

    return '<b>Egresso</b> turma de <i><span data-tooltip class="has-tip" title="Aluno(a) da turma de '+ turma+' formado(a) no '+ temp+' semestre.">'+turma+'-'+semestre+'<span></i>'; 
  }
}

function buildViewEmprego(data){
  console.log(data); 
  $('#divulgado_emprego').text("Divulgado em "+data['data_divulgacao']);
  $('#empresa_emprego').text(data['empresa']); 
  $('#area_emprego').text(data['atuacao_profissional']); 
  $('#salario_emprego').text(data['salario']); 
  $('#telefone_emprego').text(data['telefone']); 
  $('#email_emprego').text(data['email']); 
  $('#site_emprego').text(data['site']); 
  $('#pais_emprego').text(data['pais']); 
  $('#estado_emprego').text(data['estado']); 
  $('#complemento_emprego').text(data['complemento']); 
  $('#cidade_emprego').text(data['cidade']); 
  $('#graduacao_emprego').text(data['titulo_academico']); 
  $('#atividade_emprego').text(data['info_adicionais']); 

  if(data['complemento'] != '' ){
    $("#emprego_estado_div").addClass("hide");
    $("#emprego_cidade_div").addClass("hide"); 
    $("#emprego_complemento_div").removeClass("hide");
  }else{
    $("#emprego_estado_div").removeClass("hide");
    $("#emprego_cidade_div").removeClass("hide"); 
    $("#emprego_complemento_div").addClass("hide");
  }

}

 function switchEmpregoPais(){
    var value = $('#emprego_pais option:selected ').val(); 

    if( value == 33 ){
      $('#emprego_complemento').addClass('hide'); 
      $('#emprego_estado').removeClass('hide');
      $('#emprego_cidade').removeClass('hide');
    }else{
      $('#emprego_complemento').removeClass('hide'); 
      $('#emprego_estado').addClass('hide');
      $('#emprego_cidade').addClass('hide');
    }
  }

  function switchPosPais(){
   var value = $('#pos_pais option:selected ').val(); 

   if( value == 33 ){
    $('#pos_complemento').addClass('hide'); 
    $('#pos_estado').removeClass('hide');
    $('#pos_cidade').removeClass('hide');
  }else{
    $('#pos_complemento').removeClass('hide'); 
    $('#pos_estado').addClass('hide');
    $('#pos_cidade').addClass('hide');
  }
}

}); 

</script>
</body>
</html>
