<!doctype html>
<html class="no-js" lang="pt">
<head>
   <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="templates/lib/css/foundation.css" />
 <script src="templates/lib/js/vendor/modernizr.js"></script>
 <link rel="stylesheet" href="templates/lib/css/font-awesome/css/font-awesome.min.css">
 <link rel="stylesheet" href="templates/lib/js/alertify/themes/alertify.core.css">
 <link rel="stylesheet" href="templates/lib/js/alertify/themes/alertify.default.css">
 
 <style type="text/css" media="screen">
  .fix-container{
    margin-top:20px;
  }
 </style> 
  <style type="text/css">
  .fix{
    margin-bottom:45px;
  }

  p{
    font-size: 14px; 
  }

  .msg{
    margin: 1px;
    padding: 4px;
    height: 250px;
    width: 320px;
  }

  .op{
    margin-top:35px;  
  }

  .perfil_large{
    border-radius: 60px; 
    margin-left: 20px;
  }
  .perfil_small{
    border-radius: 50px;
    margin-top: -23px;
    width:60px;
    height:60px;
  }

  .perfil_box{
    padding:5px;
  }

  </style>
</head>
<body  >
  <!-- top-bar --> 
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name" id='1'> <a href="#"><img src="templates/lib/img/logo.png" style="margin-top:-30px;"></a> </li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="Pessoas e turmas" id="search_value">
              </div>
              <div class="large-4 small-3 columns">
                <a href="#" class="button tiny" id='2'  ><i class="fa fa-search"></i></a>
              </div>
            </div>
          </li>
        </ul>

        <ul class="right">
          <li class="has-form" ><a href="#" class="button info"><i class="fa fa-sign-out"></i></a></li>
        </ul>
      </section>
    </nav>
  </div>
  <!-- top-bar fim --> 

  <div class="row perfil_box fix-container" >

  <div class="large-3 columns">
    <div class="panel" style="height: 280px;" id='3'>
      <a href="#"><img src="Midia/default.png" class="perfil_large" /></a>
      <h6 style="font-size:15px;">Jackson Pereira da Silva</h6>
      <!-- separator -->
    </hr>
    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">

      <section class="section">
        <i class="fa fa-eye tittle">120</i>
      </section>
    </div>
  </div>
</div>
<div class="large-6 columns">
  <form>
   <!--  <label>Compartilhe alguma coisa. --> 
   <textarea id="5" placeholder="Compartilhe alguma coisa" style="height:210px;"></textarea>
   <!--  </label> -->
 </form>
 <a href="#" id="publicar" class="button expand">Postar</a>
</div>

<div class="large-3 columns">
  <ul class="stack button-group">
    <li><a id='4' href="#" class="button" ><i class="fa fa-pencil fa-fw" style="float:left;" ></i>Alterar Dados</a></li>
    <li><a href="#" class="button"><i class="fa fa-book fa-fw" style="float:left;" id="12"></i>Oportunidades</a></li>

    <li>
      <!--DropDown para divulgar-->
      <button id="9" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown"><i class="fa fa-wifi fa-fw"style="float:left;"></i>Divulgar</a></li></button>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <li><a href="#" data-reveal-id="modal_emprego">Emprego</a></li>
        <li><a href="#" data-reveal-id="modal_pos">Pós-graduação</a></li>
      </ul>
      <!--Fim DropDown --> 
    </li>

    <li>
     <!--DropDown para divulgar-->
     <button id='13' data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button dropdown"><i class="fa fa-cog fa-fw"style="float:left;"></i>Configurações</a></li></button><br>

     

     <!--Fim DropDown --> 
   </li>

 </ul>
</div>

</div>

<div class="row">
  <div class="medium-4 medium-centered columns">
    <h4 class="subheader medium-text-center">- Atividades recentes - </h4>
  </div>
</div>



<!--conteúdo--> 
<div class="row" style="min-height:50%;">
 <div class="medium-12 columns" id="container" style="margin:0">


   

   <div class="medium-4 columns panel msg " >
    <div class="row">
      <div class="medium-3 columns small-3" ><a class="bnt_mensagem"><img src="Midia/default.png" class="perfil_small" id="7"/></a>  </div>
      <div class="medium-9 columns" style="padding-left:0;"><i>Maria Paula</i> <br><small>às 20:30, 04/04/2015. Egresso turma de 2015</small></div>
      <div class="medium-12 columns" id="6">
        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .
        </p>
      </div>
    </div>
  </div>

  <div class="medium-4 columns panel msg " id="8">
    <i class="fa fa-envelope right"  style="margin-bottom: -20px;"></i>
    <div class="row"  >
      <div class="medium-3 columns small-3" ><img src="Midia/default.png" class="perfil_small"  /></div>
      <div class="medium-9 columns" style="padding-left:0;"><i >Marcos Paulo</i> <br><small>às 20:30, 04/04/2015. Professor</small></div>
      <div class="medium-12 columns">
        <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .
        </p>
      </div>
    </div>
  </div>


  <div class="medium-4 columns msg " style="padding:0;" id="10">
    <ul class="pricing-table">
      <li class="title">Oportunidade</li>
      <li class="price" style="height: 82px;">Emprego/Pós-graduação</li>
      <li class="cta-button" style="height: 120px;"><a class="button tiny" id="11" href="#">Ver detalhes</a></li>
    </ul>
  </div>


</div>
</div>

<!--Loading--> 
<div class="row">
  <div class="small-1 small-centered columns">
    <i id="14" class="fa fa-refresh fa-spin fa-3x"></i>
  </div>
</div>


<!-- At the bottom of your page but inside of the body tag -->
<ol class="joyride-list" data-joyride>
  <!--Logo-->
  <li data-id="1" data-text="Próximo" data-options="tip_location: top; prev_button: false">
    <p class="text-justify" >Bem-vindo ao EgressoOnline <br>Uma rede para os egressos do curso de Sistemas de Informação.</p>
  </li>
  <!--Buscar-->
  <li data-id="2" data-class="custom so-awesome" data-text="Próximo" data-prev-text="Anterior">
    <h4>Perfis de turma e egressos</h4>
    <p class="text-justify" >Você pode procurar por turmas ou por outros egressos. A busca é feita a partir de um ano de conclusão ou o nome incompleto de um professor, coordenador ou egresso que você possa conhecer.</p>
  </li>
  <!--Mensagem-->
  <li data-id="3" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Informações sobre o seu perfil</h4>
    <p class="text-justify" >Esse container armazena informações básicas sobre o seu perfil, como a foto, nome e quantidade de pessoas que visitaram o seu perfil.</p>
  </li>
  <!--loading infinito-->
  <li data-id="4" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Alterando dados</h4>
    <p class="text-justify" >Seus dados pessoais podem ser atualizados aqui, inclusive a sua foto de perfil e senha.</p>
  </li>
  <!-- Postando uma mensagem -->
  <li data-id="5" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Mensagem em massa</h4>
    <p class="text-justify" >O texto que é enviado a partir deste container será visível para todos os usuário.</p>
  </li>
  <!-- Oportunidade -->
  <li data-id="6" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Mensagem em massa</h4>
    <p class="text-justify" >As mensagens enviadas são visualizadas dessa forma na tela principal dos usuários. O bloco de mensagem diz o nome de quem enviou a mensagem, hora e data de envio e se o remetente é um <b>Professor</b> ou um <b>Egresso</b>. Caso o remetente seja um <b>Egresso</b> a turma a qual ele pertence será informada.</p>
  </li>
  <!--Visualizando uma oportunidade -->
  <li data-id="7" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Mensagem direta</h4>
    <p class="text-justify" >Caso seja necessário manter uma linha de diálogo sigilosa com outro usuário, basta clicar na foto da caixa de mensagem.</p>
    <img src="Midia/modal_msg_direta.PNG" style="margin-bottom: 10px;">
    <p class="text-justify" >Mensagens diretas também são enviadas pelo perfil do usuário.</p>
  </li>
  <!--Visualizando uma oportunidade -->
  <li data-id="8" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Mensagem direta</h4>
    <p class="text-justify" >As mensagens que são somente para você aparecem com este símbolo (carta) na sua tela principal.</p>
  </li>
  <!--Visualizando uma oportunidade -->
  <li data-id="9" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Compartilhando oportunidades</h4>
    <p class="text-justify" >A plataforma dá suporte para que os usuários compatilhem oportunidades de emprego e de pós-graduação.</p>
  </li>
  <!-- -->
  <li data-id="10" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Compartilhando oportunidades</h4>
    <p class="text-justify" >As oportunidades divulgadas aparecem nesse formato para os demais usuários.</p>
  </li>
  <!-- -->
  <li data-id="11" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Visualizando uma oportunidade</h4>
    <p class="text-justify" >Clicando nesse botão a oportunidade será apresentada com mais detalhes.</p>
    <img src="Midia/op_emprego.PNG" style="margin-bottom: 10px;">
  </li>
  <!-- -->
  <li data-id="12" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Visualizando uma oportunidade</h4>
    <p class="text-justify" >Há um local decidado apenas para a listagem das oportunidades. Dessa forma é mais fácil encontrar o que você procura.</p>
  </li>
  <!-- -->
  <li data-id="13" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Configurações</h4>
    <p class="text-justify" >Aqui você pode definir quais tipos de pós-graduações e área de emprego que mais lhe interessa e receber notificações via e-mail quando algo similar ao seu gosto for submetido.</p>
  </li>
  <!-- -->
  <li data-id="14" data-button="Próximo" data-prev-text="Anterior" data-options="tip_location:top;tip_animation:fade">
    <h4>Carregando mais mensagens</h4>
    <p class="text-justify" >Basta alcançar o fim da página que as mensagens serão carregadas automaticamente.</p>
  </li>

  <li data-button="Fim" data-prev-text="Anterior">
    <h4>Até mais</h4>
    <p class="text-justify" >Aproveite a plataforma.</p>
  </li>

</ol>
<!-- FIM MODAIS --> 


<script src="templates/lib/js/vendor/jquery.js"></script>
<script src="templates/lib/js/foundation.min.js"></script> 
<script src="templates/lib/js/foundation/foundation.alert.js"></script>
<script src="templates/lib/js/alertify/lib/alertify.min.js"></script>
<script src="templates/lib/js/redirect.js"></script>
<script src="templates/lib/js/busca.js"></script>

<script>

 </script>
  


<script>  
$(document).ready(function(){
  $(document).foundation();
  $(document).foundation('joyride', 'start');

  $('.joyride-close-tip').click(function(){redirecionar()}); 
  $('.joyride-next-tip').click(function(){
   if($(this).text() == 'Fim')
    redirecionar();   
}); 
}); 

function redirecionar(){
  redirect('index.php',{uc : 'telaPrincipal', a : 'principalView' },'GET'); 
}
</script>
</body>
</html>
