  <!doctype html>
  <html class="no-js" lang="en">
  <head>
    <title>EgressoOnline - Login</title>
    <!-- $Include templates/lib/html/head.html --> 

    <style>
    .fix{
      min-width: 335px !important;  
      max-width: 339px !important;
    }
    .fix_top{ 
      margin-top: 3%;
    }
    .main_container{
     position:relative;
     top:20%;
     border:5px;
     background-color: white;
     border-radius: 2px; 
   }

   .borda_inferior{
    border-bottom-style: solid; 
    border-bottom-width: 2px; 
    border-bottom-color: rgb(169,169,169); 
  }

  #logo{
    margin: 15px 50px 15px 50px;
    width: 210px; 
    height: 100px; 
  }

  .buttom_fix{
    width: 250px; 
    margin-left: 25px; 
    margin-right: 25px;  
  }
  </style>

</head>
<body>


  <!-- $Include templates/lib/html/topbar.html --> 
  <div class="row panel" style="margin-top:30px">
    <div class="medium-12 columns">
      <!-- começo -->
      <div class="row">
        <!--Direito-->
        <div class="medium-12 columns" > 
          <div class="row">

            <!--Esquerdo-->
            <div class="medium-6 columns" style="height:400px;">
              <div class="row">
                <div class="medium-12 columns">
                  <span class="label">Selecione algumas áreas que o interessa</span>
                </div>
              </div>
              <hr style="margin:0"/>

              <div class="row">
                <div class="medium-6 columns">
                  <label >Selecione uma área
                    <select id="area_selecionada">
                      <option value="">- Selecione -</option>
                      <!-- $BeginBlock area-->
                      <option value="${area.id}"> ${area.des}</option>
                      <!-- $EndBlock area -->
                    </select>
                  </label>
                </div>

                <div class="medium-6 columns">
                  <button class="button success tiny" id="cadastrar" style="margin-bottom:0;margin-top:25px;">Adicionar aos meus interesses</button>
                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <span class="label">Selecione a opção desejada seobre as notificações de pós-graducão</span>
                </div>
              </div>
              <hr style="margin-top:0"/>

              <div class="row">
                <div class="medium-12 columns">
                  <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Graduação</label>
                  <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Especialização</label>
                  <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Mestrado</label>
                </div>
              </div>
              
              <div class="row">
                <div class="medium-12 columns">
                  <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Doutorado</label>
                  <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed" style="color:red">Não desejo ser notificado</label>
                </div>
              </div>

            </div>

            <div class="medium-6 columns" >
              <div class="row">
                <div class="medium-12 columns">
                  <span class="label">Áreas profissionais que desejo ser notificado via e-mail</span>
                </div>
              </div>
              <hr style="margin:0"/>

              <div class="row">
                <div class="medium-12 columns" style="height:333px; overflow:auto;">
                  <table>
                    <tr>
                      <th width="500">Área Profissional</th>
                      <th >Ação</th>
                    </tr>
                    <!-- $BeginBlock row-->
                    <tr>
                      <td>${nome}</td>
                      <td><button value="${id}" class="button alert tiny delete" style="margin:0"><i class="fa fa-trash-o"></i></button></td>
                    </tr>
                    <!-- $EndBlock row-->
                  </table>
                  
                </div>
              </div>
              

            </div>  
            <!--fim-->
          </div>

        </div>
      </div>  
    </div>
    <!-- fim  -->
  </div>

  <!-- $Include templates/lib/html/footerscripts.html --> 
  <script src="templates/lib/js/jquery.mask.min.js"></script>
  <script src="templates/lib/js/ajax.js"></script>

  <script>
  $(document).foundation();

  $(document).ready(function(){
    $("#cadastrar").click(function(){
      var areaId = $("#area_selecionada option:selected").val(); 
      if(areaId == ''){
        alertify.error("Selecione uma área de atuacão profissional");
        return; 
      } 

      sendAjax('index.php?uc=configurar&a=addArea','POST',{'id' : areaId}, function(data){
        alertify.log(data); 
      }); 
        
    }); 

  }); 
  </script>
</body>
</html>
