<!doctype html>
<html class="no-js" lang="pt-br">
<head>
	<title>Tela principal</title>
	<!-- $Include templates/lib/html/head.html --> 
	<style>
	.perfil_large{
		border-radius: 60px; 
	}
	</style>
</head>
<body>

	<!-- top-bar --> 
	<!-- $Include templates/lib/html/topbar.html --> 
	<!-- top-bar fim --> 


	<div class="row" style="margin-top:30px">
		<div class="medium-12 columns">
			<!-- começo -->
			<div class="row">
				<div class="medium-12 columns panel" style="background-image:url('http://wallpaper.ultradownloads.com.br/274038_Papel-de-Parede-Linda-Paisagem-Oceanica-Com-Castelo_1920x1200.jpg');background-size: 100% auto;"> 

					<div class="row">

						<div class="medium-4 columns" style="height:300px">
							<div class="row">
								<div class="medium-6 medium-centered columns ">
									<img src="${foto}" class="perfil_large" />
								</div>
							</div>

							<div class="panel" style="margin-top: 10px;padding-bottom: 0;padding-top:0;">
								<div class="row">
									<div class="medium-12 columns ">
										<p style="font-size:15px;margin:0;" class="medium-text-center">${nome}</p>
									</div>
								</div>

								<div class="row">
									<div class="medium-12 medium-centered columns ">
										<textarea id="mensagem" placeholder="Deixe uma mensagem para essa pessoa."></textarea>
									</div>
								</div>

								<div class="row">
									<div class="medium-12  columns ">
										<button id="bnt_mensagem" value="${id}" class="button expand ">Enviar</button>
									</div>
								</div>
							</div>	
						</div>



						<div class="medium-7 columns panel" style="height:300px; background-color:rgba(1,1,1,0); border-style:none;">
							<div class="row">
								<div class="medium-12 columns">
									<span class="label">Informações</span>
									<div data-alert class="alert-box secondary" style="margin-bottom:0;">
										Turma:    ${turma} </br>
										Telefone: ${telefone}</br>
										Likedin:  ${likedin}</br>
										Facebook: ${facebook}</br>
										Twitter: ${twitter}</br>
										Este usuário já divulgou ${qtd} oportunidade(s)</br>
									</div>
								</div>

								<div class="medium-12 columns">
									<span class="label success">Minhas graduações</span>
									<div data-alert class="alert-box secondary" style="height:75px;">
										<!-- $BeginBlock graduacao-->
										<span data-tooltip aria-haspopup="true" class="has-tip" title="${label}"><span class="label">${tipo}</span> </span>
										<!-- $EndBlock graduacao -->
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>	
		</div>
		<!-- fim  -->
	</div>

	<div class="row">
		<div class="medium-4 medium-centered columns">
			<h4 class="subheader medium-text-center">- Atividades recentes - </h4>
		</div>
	</div>

	<div class="row">

		<!-- $BeginBlock atividade-->
		<div class="medium-6 medium-centered columns">
			<div data-alert class="alert-box secondary"> ${texto}</div>
		</div>
		<!-- $EndBlock atividade -->
	</div>

	<!-- $Include templates/lib/html/footerscripts.html --> 
	<script src="templates/lib/js/ajax.js"></script>
	<script>
	$(document).foundation();
	$(document).ready(function(){
		$("#bnt_mensagem").click(function(){
			var id = $(this).val(); 
			var msg = $('#mensagem').val(); 

			if(msg == ''){
				alertify.error("Escreva uma mensagem antes."); 
				return; 
			} 

			var data = {'id' : id, 'mensagem' : msg}; 
			sendAjax('index.php?uc=mensagens&a=mensagemDireta','POST',data,function(data){
				data = JSON.parse(data); 

				if(data['status'])
					alertify.success("Mensagem enviado"); 
				else
					alertify.error("Error"); 
			}); 
			$('#mensagem').val(""); 
		}); 
	});

	</script>
</body>
</html>
