<!doctype html>
<html class="no-js" lang="pt-br">
<head>
	<title>Tela principal</title>
	<!-- $Include templates/lib/html/head.html --> 

	<style type="text/css">
	body{
		background: url('img/bg.png');
	}
	</style>
</head>
<body>

	<!-- top-bar --> 
	<!-- $Include templates/lib/html/topbar.html --> 
	<!-- top-bar fim --> 


	<div class="row" style="margin-top:30px">
		<div class="medium-12 columns">
			<!-- começo -->
			<div class="row">
				<div class="medium-12 columns panel" style="background-image:url('https://41.media.tumblr.com/7c433185e516623935258cbfc2184334/tumblr_nrym7qWJep1qjcdw9o2_400.jpg');background-size: 100% auto;"> 

					
					
					<div class="row">

						<div class="medium-4 columns panel" style="height:300px">
							<div class="row">
								<div class="medium-7 medium-centered columns ">
									<img src="http://lorempixel.com/people/300/240/"/>
									<h7>Marciano Pereira</h7>
								</div>
								<div class="medium-12 medium-centered columns ">
									<textarea name="" placeholder="Deixe uma mensagem para essa pessoa."></textarea>
								</div>
								<div class="medium-12  columns ">
									<button type="" class="button expand ">Enviar</button>
								</div>
							</div>	
						</div>



						<div class="medium-7 columns panel" style="height:300px">
							<div class="row">
								<div class="medium-12 columns">
									<div data-alert class="alert-box info">
										Informações sobre esse usuário
									</div>

									<div data-alert class="alert-box secondary">
										Turma: 2001 </br>
										Telefone: XX XXXX-XXXX</br>
										Likedin: www.likedin.com.br</br>
										Facebook: www.facebook.com.br</br>
										Este usuário já divulgou 1.323.4324 oportunidade(s)</br>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
			</div>	
		</div>
		<!-- fim  -->
	</div>

	<div class="row">
		<div class="medium-4 medium-centered columns">
			<h4 class="subheader medium-text-center">- Atividades recentes - </h4>
		</div>
	</div>

	<div class="row">
		<div class="medium-6 medium-centered columns">
			<div data-alert class="alert-box secondary"> O usuário compartilhou uma vaga de emprego no dia 12/12/12 às 14:45</div>
		</div>

		<div class="medium-6 medium-centered columns">
			<div data-alert class="alert-box secondary"> O usuário compartilhou uma vaga de emprego no dia 12/12/12 às 14:45</div>
		</div>

		<div class="medium-6 medium-centered columns">
			<div data-alert class="alert-box secondary"> O usuário compartilhou uma vaga de emprego no dia 12/12/12 às 14:45</div>
		</div>

		<div class="medium-6 medium-centered columns">
			<div data-alert class="alert-box secondary"> O usuário compartilhou uma vaga de emprego no dia 12/12/12 às 14:45</div>
		</div>

		<div class="medium-6 medium-centered columns">
			<div data-alert class="alert-box secondary"> O usuário compartilhou uma vaga de emprego no dia 12/12/12 às 14:45</div>
		</div>

		<div class="medium-6 medium-centered columns">
			<div data-alert class="alert-box secondary"> O usuário compartilhou uma vaga de emprego no dia 12/12/12 às 14:45</div>
		</div>
	</div>

	<!-- $Include templates/lib/html/footerscripts.html --> 
	
	<script>

	$(document).foundation();
	$(document).ready(function(){
		$('.telefone').mask('(99) 9999-9999');
	});

	</script>
</body>
</html>
