<!doctype html>
<html class="no-js" lang="pt-br">
<head>
	<title>Tela principal</title>
	<!-- $Include templates/lib/html/head.html --> 

	<style type="text/css">
	body{
		background: url('img/bg.png');
	}
	</style>
</head>
<body>

	<!-- top-bar --> 
	<!-- $Include templates/lib/html/topbar.html --> 
	<!-- top-bar fim --> 


	<div class="row" style="margin-top:30px">
		<div class="medium-12 columns">
			<!-- começo -->
			<div class="row">
				<div class="medium-12 columns panel" style="background-image:url('https://41.media.tumblr.com/7c433185e516623935258cbfc2184334/tumblr_nrym7qWJep1qjcdw9o2_400.jpg');height:400px;background-size: 100% auto;"> 

					<button type="" class="button success tiny">Alterar foto</button>
				</div>
			</div>	
		</div>
		<!-- fim  -->
	</div>

	<div class="row">
		<div class="medium-4 medium-centered columns">
			<h4 class="subheader medium-text-center">- Tuma de 20015 - </h4>
		</div>
		<div class="medium-4 medium-centered columns">
			<h5 class="subheader medium-text-center">- Alunos associados - </h5>
		</div>
	</div>

	<div class="row">
		<!--Associados aqui --> 
		<div class="medium-12 columns">
			<hr  />
			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				<!-- itens -->
				<li><div class="medium-12 medium-centered columns text-center"><img src="http://lorempixel.com/people/300/240/"/><p style="font-size:10px;">Marciano Pereira</p></div></li>
				
			</ul>
		</div>
	</div>


	<!-- $Include templates/lib/html/footerscripts.html --> 
	<script>

	$(document).foundation();
	$(document).ready(function(){
		$('.telefone').mask('(99) 9999-9999');
	});

	</script>
</body>
</html>
