  <!doctype html>
  <html class="no-js" lang="en">
  <head>
    <title>EgressoOnline - Login</title>
    <!-- $Include templates/lib/html/head.html --> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.8/datatables.min.css"/>


  </head>
  <body>
    <!-- $Include templates/lib/html/topbar.html --> 

    <div class="row fix-container">
     <!-- cabeçalho -->
     <div class="row">
      <div class="medium-12 columns">
        <h2 class='cabecalho'>Nova Área de Atuação</h2>
      </div>
    </div>

    <!-- alerta -->
    <div class="row">
      <div class="medium-12 columns">
        <div data-alert class="alert-box warning">
          As áreas de atuação profissional servem para agrupar egressos e oportunidades de emprego. Por esse motivo, é essencial que essa base de dados esteja atualizada com base nas novas área de atuação que surgem. 
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="medium-5 columns">
        <label >Digite o nome da nova área de atuação
          <input type="text" value="" placeholder="Digite o nome da nova área de atuação" id="area_nome"/>
        </label>
      </div>
      <div class="medium-4 columns end">
        <button class="button success tiny" style="margin-top:22px;" id="cadastrar">Cadastrar nova área</button>
      </div>
    </div>

    <hr />
    <!-- label -->
    <div class="row" >
      <div class="medium-12 columns">
        <span class="label secondary">A tabela abaixo contém as área de atuação cadastradas no sistema. Somente será excluída uma área de atuação que não foi vinculada a nenhum outro registro.</span>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns" >
        <!--nova table-->
        <table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
          <thead>
           <tr>
            <th >Área Profissional</th>
            <th >Ação</th>
            <th >Ação</th>
          </tr>
        </thead>

        <tbody>
          <!-- $BeginBlock row -->
          <tr>
            <td class="nome" >${nome}</td>
            <td><button value="${id}" class="button info tiny edit" style="margin:0"><i class="fa fa-pencil"></i></button></td>
            <td><button value="${id}" class="button alert tiny delete" style="margin:0"><i class="fa fa-trash-o"></i></button></td>
          </tr>
          <!-- $EndBlock row -->
        </tbody>

        <tfoot>
         <tr>
          <th >Área Profissional</th>
          <th >Ação</th>
          <th >Ação</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

</div>


<!--modal Section--> 

<div id="modal_alterar" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Alterar o nome da área: </h2>
  <p class="lead" id="nome_materia"><i>Js irá colocar o nome da área aqui</i></p>
  
  <form data-abidi="ajax">
    <div class="row">
      <div class="medium-6">
        <input type="text" value="" id="nome" placeholder="Novo nome aqui."/>
        <input type="hidden" value="" id="atuacao_id" >
      </div>
    </div>

    <div class="row">
      <div class="medium-12">
        <div class="clearfix">
          <a class="button tiny success right" id="alterar">Alterar</a>
          <a class="button tiny alert left" id="cancelar">Cancelar</a>
        </div>
      </div>
    </div>
  </form>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- $Include templates/lib/html/footerscripts.html --> 
<script src="templates/lib/js/jquery.mask.min.js"></script>
<script src="templates/lib/js/ajax.js"></script>
<script src="templates/lib/js/md5.js"></script>
<script src="templates/lib/js/redirect.js"></script>
<script src="templates/lib/js/jquery.dataTables.min.js"></script>
<script src="templates/lib/js/metro.js"></script>

<script>
$(document).foundation();

$(document).ready(function(){

  //Tratando evento para a deleção: 
  $("button.edit").click(function(){
    var nome = $(this).parent().parent().find('td.nome').text();
    var id   = $(this).val(); 

    $('#nome_materia').text('"'+nome+'"'); 
    $('#atuacao_id').val(id); 
    $('#modal_alterar').foundation('reveal', 'open');
  }); 

  $("#alterar").click(function(){
    var id = $('#atuacao_id').val(); 
    var nome = $('#nome').val(); ; 
    sendAjax('index.php?uc=manterCurso&a=alterarArea','POST',{'id' : id, 'nome' : nome}, function(data){
      data = JSON.parse(data); 
      if(data['status']){ 
        $('#modal_alterar').foundation('reveal', 'close');
        window.location.reload(); 
      }
    }); 
    //aqui
  });

  $("#cadastrar").click(function(){
    var nome = $("#area_nome").val(); 
    if(nome == ''){
      alertify.error("Você precisa inserir um nome para a nova área de atuação."); 
      return; 
    }
    sendAjax('index.php?uc=manterCurso&a=novaArea','POST',{'nome' : nome}, function(data){
      data  = JSON.parse(data); 
      if(data['status']){
        alertify.success("A área foi cadastrada com sucesso"); 
        reloadDelay(1000); 
      }else{
        alertify.error(data['msg']); 
      }
    });
  });

  $("#cancelar").click(function(){
   $('#modal_alterar').foundation('reveal', 'close');
 }); 

  //Tratando evento para a modificação do nome: 
  $("button.delete").click(function(){
    var id = $(this).val(); 
    sendAjax('index.php?uc=manterCurso&a=deletarArea','POST',{'id' : id}, function(data){
      data  = JSON.parse(data); 

      if(data['status']){
        alertify.success("Área deletada"); 
        reloadDelay(500); 
      }else{
        alertify.error(data['msg']); 
      }

    });
  });   


  function reloadDelay(delay){
    setInterval(function(){window.location.reload();},delay); 
  }
});

  </script>
</body>
</html>
