  <!doctype html>
  <html class="no-js" lang="pt">
  <head>
    <title>EgressoOnline - Login</title>
    <!-- $Include templates/lib/html/head.html --> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.8/datatables.min.css"/>

  </head>
  <body>
    <!-- $Include templates/lib/html/topbar.html --> 

    <div class="row fix-container" >
     <!-- cabeçalho -->
     <div class="row">
      <div class="medium-12 columns">
        <h2 class='cabecalho'>Nova Disciplina</h2>
      </div>
    </div>

    <div class="row">
      <div class="medium-5 columns">
        <label >Digite o nome da nova disciplina
          <input type="text" value="" placeholder="Digite o nome da nova disciplina" id="area_nome"/>
        </label>
      </div>
      <div class="medium-4 columns end">
        <button class="button success tiny" style="margin-top:22px;" id="cadastrar">Cadastrar nova disciplina</button>
      </div>
    </div>

    <hr />
    <!-- label -->
    <div class="row" >
      <div class="medium-12 columns">
        <span class="label secondary">A tabela abaixo contém as disciplinas cadastradas no sistema. Somente será excluída uma disciplinas que não foi vinculada a nenhum outro registro.</span>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns">
        <!--nova table-->
        <table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
          <thead>
           <tr>
            <th >Disciplina</th>
            <th >Ação</th>
            <th >Ação</th>
          </tr>
        </thead>

        <tbody>
          <!-- $BeginBlock row -->
          <tr>
            <td class="nome" >${nome}</td>
            <td><button value="${id}" class="button info tiny edit" style="margin:0"><i class="fa fa-pencil"></i></button></td>
            <td><button value="${id}" class="button alert tiny delete" style="margin:0"><i class="fa fa-trash-o"></i></button></td>
          </tr>
          <!-- $EndBlock row -->
        </tbody>

        <tfoot>
         <tr>
          <th >Disciplina</th>
          <th >Ação</th>
          <th >Ação</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

</div>


<!--modal Section--> 

<div id="modal_alterar" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Alterar o nome da disciplina: </h2>
  <p class="lead" id="nome_materia"><i></i></p>
  
  <form data-abidi="ajax">
    <div class="row">
      <div class="medium-6">
        <input type="text" value="" id="nome" placeholder="Novo nome aqui."/>
        <input type="hidden" value="" id="atuacao_id" >
      </div>
    </div>

    <div class="row">
      <div class="medium-12">
        <div class="clearfix">
          <a class="button tiny success right" id="alterar">Alterar</a>
          <a class="button tiny alert left" id="cancelar">Cancelar</a>
        </div>
      </div>
    </div>
  </form>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- $Include templates/lib/html/footerscripts.html --> 
<script src="templates/lib/js/ajax.js"></script>
<script src="templates/lib/js/jquery.dataTables.min.js"></script>
<script src="templates/lib/js/metro.js"></script>

<script>
$(document).foundation();

$(document).ready(function(){

  //Tratando evento para a deleção: 
  $("button.edit").click(function(){
    var nome = $(this).parent().parent().find('td.nome').text();
    var id   = $(this).val(); 

    $('#nome_materia').text('"'+nome+'"'); 
    $('#atuacao_id').val(id); 
    $('#modal_alterar').foundation('reveal', 'open');
  }); 

  $("#alterar").click(function(){
    var id = $('#atuacao_id').val(); 
    var nome = $('#nome').val(); ; 
    sendAjax('index.php?uc=manterCurso&a=alterarDisciplina','POST',{'id' : id, 'nome' : nome}, function(data){
      data = JSON.parse(data); 
      if(data['status']){ 
        alertify.success("Disciplina alterada"); 
        reloadDelay(500); 
      }else{
        alertify.error(data['msg']); 
      }
    }); 
    //aqui
  });

  $("#cadastrar").click(function(){
    var nome = $("#area_nome").val(); 
    if(nome == ''){
      alertify.error("Você precisa inserir um nome para a nova disciplina."); 
      return; 
    }
    sendAjax('index.php?uc=manterCurso&a=novaDisciplina','POST',{'nome' : nome}, function(data){
      data  = JSON.parse(data); 
      if(data['status']){
        alertify.success("A disciplina foi cadastrada com sucesso"); 
        reloadDelay(700); 
      }else{
        alertify.error(data['msg']); 
      }
    });
  });

  $("#cancelar").click(function(){
   $('#modal_alterar').foundation('reveal', 'close');
 }); 

  //Tratando evento para a modificação do nome: 
  $("button.delete").click(function(){
    var id = $(this).val(); 
    

    alertify.confirm("Click em Ok se deseja realmente excluir essa desciplina.",function(e){
     if(e){
      sendAjax('index.php?uc=manterCurso&a=deletarDisciplina','POST',{'id' : id}, function(data){
        data  = JSON.parse(data); 

        if(data['status']){
          alertify.success("Disciplina deletada"); 
          reloadDelay(700); 
        }else{
          alertify.error(data['msg']); 
        }

      });
    }
  });
  });   


  function reloadDelay(delay){
    setInterval(function(){window.location.reload();},delay); 
  }

});

  </script>
</body>
</html>
