  <!doctype html>
  <html class="no-js" lang="en">
  <head>
    <title>EgressoOnline - Login</title>
    <!-- $Include templates/lib/html/head.html --> 

  </head>
  <body>
    <div class="row">
      <!-- container -->
      <div class="medium-12 columns panel">
        <!-- primeira linha -->
        <div class="row">
          <div class="medium-6 columns">
            <fieldset>
              <legend>Algumas informações sobre a sua conta</legend>

              <label>E-mail<input type="email" name="" id="email" value="" required></label>
              <button class="button info tiny" id="obter_codigo">Obter Código</button>
            </fieldset> 
          </div>

          <div class="medium-6 columns">
            <fieldset>
              <legend>Recupere a sua senha</legend>
              <label>Código     <input id="codigo" type="text" name="" value=""></label>
              <label>Nova senha <input id="nova_senha" type="password" name="" value=""></label>
              <label>Confirmação<input id="confirmacao" type="password" name="" value=""></label>
              <button class="button success tiny" id="alterar_senha">Alterar senha</button>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <!-- $Include templates/lib/html/footerscripts.html --> 
    <script src="templates/lib/js/jquery.mask.min.js"></script>
    <script src="templates/lib/js/ajax.js"></script>
    <script src="templates/lib/js/md5.js"></script>
    <script src="templates/lib/js/redirect.js"></script>
    <script>
    $(document).foundation();

    $(document).ready(function(){

    //Tratando evento para obter o código
    $('#obter_codigo').click(function(){
      var email = $('#email').val(); 

      if(email.trim() == ""){
       alertify.error("Preencha o campo."); 
       return;
     }
     sendAjax('index.php?uc=autenticar&a=gerarCodigo','POST',{'email' : email },function(data){
      data = JSON.parse(data); 

      if(data['status'])
        alertify.success("Agora é só aguardar a chegada do e-mail com o código de verificação."); 
      else
        alertify.error("Falha interna, tente mais tarde."); 

    }); 
     $('#email').val(''); 
   }); 


    //Tratando evento para trocar a senha: 
    $('#alterar_senha').click(function(){
      var codigo      = $("#codigo").val(); 
      var senha       = CryptoJS.MD5($("#nova_senha").val()).toString();
      var confirmacao = CryptoJS.MD5($("#confirmacao").val()).toString(); 

      if( senha != confirmacao){
        alertify.error("A senha não é igual a senha de confirmação"); 
        return; 
      }

      if(senha.trim() == "" || confirmacao.trim() == "" || codigo.trim() == ""){
        alertify.error("Preencha os campos."); 
        return;
      }

      var data ={ 'codigo' : codigo , 'senha' : senha }; 
      sendAjax('index.php?uc=autenticar&a=alterarSenha','POST',data,function(data){
        data = JSON.parse(data); 

        if(data['status']){
          alertify.success(data['msg']); 
        }else{
          alertify.error(data['msg']); 
        }

      }); 
    }); 

  }); 

  </script>
</body>
</html>
