<html>
<head>
	<title></title>
	<meta charset="UTF-8">

	<style type="text/css" media="screen">
		table{
			border:solid;
			border-width:1px; 
			border-color: black; 

		}

		td{
			border:solid;
			border-width:1px 1px 0 0; 
			border-color: black; 

		}

		th{
			border:solid;
			border-width:1px 1px 0 0; 
			border-color: black; 

		}
	</style>

<!-- 	<meta http-equiv="refresh" content="1"> -->
</head>
<body>
<!--Titulo-->
<h4 style="text-align:center">R06 - Estatísticas do Site</h4>
<!--Tabela-->
<table style="width:100%;">
	<thead>
		<tr>
			<th style="text-align:left;background-color:#D8D8D8;">
				Ano de Conclusão
			</th>
			<th style="text-align:left;background-color:#D8D8D8;">
				Egressos
			</th>
			<th style="text-align:left;background-color:#D8D8D8;">
				Atualizados
			</th>
			
		</tr>
	</thead>
	<tbody>
		<!-- $BeginBlock row -->
		<tr>
			<td>${ano}</td>
			<td>${egresso}</td>
			<td>${atualizados}</td>
		</tr>
		<!-- $EndBlock row -->

		<tr>
			<td>Total</td>
			<td>${total.egresso}</td>
			<td>${total.atualizados}</td>
		</tr>
		

	</tbody>
</table>
<!-- legenda -->
<div style="width:100%; heigh:100px;">
	<p style="font-weight:bold">Legenda:</p>
	<p><i>Egressos: </i> representa a quantidade de egressos do curso neste ano.</p> 
	<p><i>Atualizados:</i> representa quantos dos egressos acessaram o site e atualizaram seus dados.<p> 

</div>
</body>
</html>