<html>
<head>
	<title></title>
	<meta charset="UTF-8">

	<style type="text/css" media="screen">
		table{
			border:solid;
			border-width:1px; 
			border-color: black; 

		}

		td{
			border:solid;
			border-width:1px 1px 0 0; 
			border-color: black; 

		}

		th{
			border:solid;
			border-width:1px 1px 0 0; 
			border-color: black; 

		}
	</style>

</head>
<body>
<!--Titulo-->
<h4 style="text-align:center">R07 - Oportunidades de Emprego</h4>
<!--Tabela-->
<table style="width:100%;">
	<thead>
		<tr>
			<th style="text-align:left;background-color:#D8D8D8;">
				Atuação Profissional
			</th>
			<th style="text-align:left;background-color:#D8D8D8;">
				Quantidade
			</th>
			<th style="text-align:left;background-color:#D8D8D8;">
				Média Salarial
			</th>
			<th style="text-align:left;background-color:#D8D8D8;">
				Maior Salário
			</th>
			<th style="text-align:left;background-color:#D8D8D8;">
				Menor Salário
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>

		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>
		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>
		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>
		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>
	</tbody>
</table>
<!-- legenda -->
<div style="width:100%; heigh:100px;">
	<p style="font-weight:bold">Legenda:</p>
	<p><i>Média Salarial: </i> é a média dos pontos médios das faixas salariais.</p> 
	<p><i>Menor Salário:</i>é o limite da menor faixa salarial do tipo de atuação.</p> 

</div>
</body>
</html>