<html>
<head>
	<title></title>
	<meta charset="UTF-8" lang="pt">

	<style type="text/css" media="screen">
		table{
			border:solid;
			border-width:1px; 
			border-color: black; 

		}

		td{
			border:solid;
			border-width:1px 1px 0 0; 
			border-color: black; 

		}

		th{
			border:solid;
			border-width:1px 1px 0 0; 
			border-color: black; 

		}
	</style>

</head>
<body>
<!--Titulo-->
<h4 style="text-align:center">R08 - Pós-Graduações</h4>
<!--Tabela-->
<table style="width:100%;">
	<thead>
		<tr>
			<th style="text-align:left;background-color:#D8D8D8;">Pós-graduação</th>
			<th style="text-align:left;background-color:#D8D8D8;">Quantidade</th>
		</tr>
	</thead>
	<tbody>
		<!-- $BeginBlock row -->
			<tr>
				<td>${label}</td>
				<td>${value} </td>
			</tr>
			<!-- $EndBlock row -->

			<tr>
				<td>Total</td>
				<td>${total}</td>
			</tr>
	</tbody>
</table>
<!-- legenda -->
	<div style="width:100%; height:100px;">
		<p style="font-weight:bold">Legenda:</p>
		<p><i>Pós-graduação: </i> representa os tipos de pós-graduações que podem ser divulgadas no sistema.</p> 
		<p><i>Quantidade:</i> é a quantidade de opotunidade divulgadas para a modalidade de pós-graduação em específico.</p> 
	</div>
</body>
</html>