<!doctype html>
<html class="no-js" lang="pt-br">
<head>
	<title>Tela principal</title>
	<!-- $Include templates/lib/html/head.html --> 
</head>
<body>

	<!-- top-bar --> 
	<!-- $Include templates/lib/html/topbar.html --> 
	<!-- top-bar fim --> 

	<!--container-->
	<div class="row fix-container">
		<!-- cabeçalho -->
		<div class="row">
			<div class="medium-12 columns">
				<h2 class='cabecalho'>Relatórios</h2>
			</div>
		</div>

		<!--primeira coluna-->
		<div class="row">
			<div class="medium-12 columns">
				<!-- Accordion -->
				<ul class="accordion" data-accordion>
					<!-- primeira opção -->
					<li class="accordion-navigation">
						<a href="#panel1">Distribuição Geogáfica</a>
						<div id="panel1" class="content active">
							<!-- formulário -->
							<form class="form" data-abide="ajax">
								<input type="hidden" name="cod" value="1" />
								<div class="row" >
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<!-- alert -->
										<div data-alert class="alert-box secondary">
											Esse relatório diz alguma coisa
											<a href="#" class="close">&times;</a>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<div class="row">
											<div class="medium-4 columns">
												<label>Ano de Conclusão
													<select multiple>
														<!-- $BeginBlock ano.conclusao-->
														<option value="${ano.conclusao.des}"> ${ano.conclusao.des}</option>
														<!-- $EndBlock ano.conclusao -->
													</select>
												</label>
											</div>
											<div class="medium-2 columns end">
												<button type="" class="button tiny success">Gerar relatório</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- fim formulário -->
						</div>
					</li>


					<!-- segunda opção -->
					<li class="accordion-navigation">
						<a href="#panel2">Atuação Profissional - Faixa Salarial</a>
						<div id="panel2" class="content">
							<!-- formulário -->
							<form class="form" data-abide="ajax">
								<input type="hidden" name="cod" value="2" />
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<!-- alert -->
										<div data-alert class="alert-box secondary">
											Esse relatório diz alguma coisa
											<a href="#" class="close">&times;</a>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<div class="row">
											<div class="medium-4 columns">
												<label>Ano de Conclusão
													<select multiple name="ano_conclusao">
														<!-- $BeginBlock ano.conclusao-->
														<option value="${ano.conclusao.des}"> ${ano.conclusao.des}</option>
														<!-- $EndBlock ano.conclusao -->
													</select>
												</label>
											</div>
											<div class="medium-3 columns end">
												<div class="row">
													<div class="medium-12 columns">
														<input id="checkbox1"name="is_publico" type="checkbox"><label for="checkbox1">Público</label>
													</div>
													<div class="medium-12 columns">
														<input id="checkbox1" name="is_ti" type="checkbox"><label for="checkbox1">Na área de TI</label>
													</div>
													<div class="medium-12 columns">
														<button type="" class="button tiny success">Gerar relatório</button>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- fim formulário -->
						</div>
					</li>


					<!-- terceira opção -->
					<li class="accordion-navigation">
						<a href="#panel3">Atuaçao Profissional - Tipo de Atuação</a>
						<div id="panel3" class="content">
							<!-- formulário -->
							<form class="form" data-abide="ajax">
								<input type="hidden" name="cod" value="3" />
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<!-- alert -->
										<div data-alert class="alert-box secondary">
											Esse relatório diz alguma coisa
											<a href="#" class="close">&times;</a>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<div class="row">
											<div class="medium-4 columns">
												<label>Ano de Conclusão
													<select multiple>
														<!-- $BeginBlock ano.conclusao-->
														<option value="${ano.conclusao.des}"> ${ano.conclusao.des}</option>
														<!-- $EndBlock ano.conclusao -->
													</select>
												</label>
											</div>
											<div class="medium-3 columns end">
												<div class="row">
													<div class="medium-12 columns">
														<input id="checkbox1" type="checkbox"><label for="checkbox1">Público</label>
													</div>
													<div class="medium-12 columns">
														<input id="checkbox1" type="checkbox"><label for="checkbox1">Na área de TI</label>
													</div>
													<div class="medium-12 columns">
														<button type="" class="button tiny success">Gerar relatório</button>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- fim formulário -->
						</div>
					</li>


					<!-- quarta opção -->
					<li class="accordion-navigation">
						<a href="#panel4">Histórico de Professores</a>
						<div id="panel4" class="content">
							<!-- formulário -->
							<form class="form" data-abide="ajax">
								<input type="hidden" name="cod" value="4" />
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<!-- alert -->
										<div data-alert class="alert-box secondary">
											Esse relatório diz alguma coisa
											<a href="#" class="close">&times;</a>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<div class="row">
											<div class="medium-4 columns">
												<label>Ano que lecionou
													<select multiple>
														<option value="">nada</option>
														<option value="">nada</option>
														<option value="">nada</option>
														<option value="">nada</option>
														<option value="">nada</option>
													</select>
												</label>
											</div>
											<div class="medium-2 columns end">
												<button type="" class="button tiny success">Gerar relatório</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- fim formulário -->
						</div>
					</li>


					<!-- quinta opção -->
					<li class="accordion-navigation">
						<a href="#panel5">Formação Acadêmica</a>
						<div id="panel5" class="content">
							<!-- formulário -->
							<form class="form" data-abide="ajax">
								<input type="hidden" name="cod" value="5" />
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<!-- alert -->
										<div data-alert class="alert-box secondary">
											Esse relatório diz alguma coisa
											<a href="#" class="close">&times;</a>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<div class="row">
											<div class="medium-4 columns">
												<label>Ano de conclusão
													<select multiple>
														<!-- $BeginBlock ano.conclusao-->
														<option value="${ano.conclusao.des}"> ${ano.conclusao.des}</option>
														<!-- $EndBlock ano.conclusao -->
													</select>
												</label>
											</div>
											<div class="medium-2 columns end">
												<button type="" class="button tiny success">Gerar relatório</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- fim formulário -->
						</div>
					</li>


					<!-- sexta opção -->
					<li class="accordion-navigation">
						<a href="#panel6">Estatísticas do Site</a>
						<div id="panel6" class="content">
							<!-- formulário -->
							<form class="form" data-abide="ajax">
								<input type="hidden" name="cod" value="6" />
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<!-- alert -->
										<div data-alert class="alert-box secondary">
											Esse relatório diz alguma coisa
											<a href="#" class="close">&times;</a>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<div class="row">
											<div class="medium-2 columns end">
												<button type="" class="button tiny success">Gerar relatório</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- fim formulário -->
						</div>
					</li>


					<!-- setima opção -->
					<li class="accordion-navigation">
						<a href="#panel7">Oportunidade de Emprego</a>
						<div id="panel7" class="content">
							<!-- formulário -->
							<form class="form" data-abide="ajax">
								<input type="hidden" name="cod" value="7" />
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<!-- alert -->
										<div data-alert class="alert-box secondary">
											Esse relatório diz alguma coisa
											<a href="#" class="close">&times;</a>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<div class="row">
											<div class="medium-4 columns">
												<label>Ano da postagem
													<select multiple>
														<!-- $BeginBlock ano.postagem-->
														<option value="${ano.postagem.des}"> ${ano.postagem.des}</option>
														<!-- $EndBlock ano.postagem -->
													</select>
												</label>
											</div>
											<div class="medium-2 columns end">
												<button type="" class="button tiny success">Gerar relatório</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- fim formulário -->
						</div>
					</li>


					<!-- oitava opção -->
					<li class="accordion-navigation">
						<a href="#panel8">Pós-graduações</a>
						<div id="panel8" class="content">
							<!-- formulário -->
							<form class="form" data-abide="ajax">
								<input type="hidden" name="cod" value="8" />

								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<!-- alert -->
										<div data-alert class="alert-box secondary">
											Esse relatório diz alguma coisa
											<a href="#" class="close">&times;</a>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- informações sobre o forumlário -->
									<div class="medium-12 columns">
										<div class="row">
											<div class="medium-4 columns">
												<label>Ano da postagem
													<select multiple>
														<!-- $BeginBlock ano.postagem-->
														<option value="${ano.postagem.des}"> ${ano.postagem.des}</option>
														<!-- $EndBlock ano.postagem -->
													</select>
												</label>
											</div>
											<div class="medium-2 columns end">
												<button type="" class="button tiny success">Gerar relatório</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- fim formulário -->
						</div>
					</li>

				</ul>
				<!-- fim Accordion -->
			</div>
		</div>
		
	</div>

	<!-- $Include templates/lib/html/footerscripts.html --> 
	<script>

	$(document).foundation();
	$(document).ready(function(){
		$('.form').on('valid', function() {
			var data = $(this).serializeArray(); 

			var protocol = window.location.protocol+"//"; 
			var hostname = window.location.hostname; 
			var port	 = window.location.port; 
			var pathname = window.location.pathname; 

			window.open(protocol+hostname+":"+port+pathname+"?uc=relatorios&a=relatorio&"+$.param(data),"mywindow","menubar=1,resizable=1,width=850,height=600");
		});
	});

	</script>
</body>
</html>
