  <!doctype html>
  <html class="no-js" lang="pt">
  <head>
    <title>Busca</title>
    <!-- $Include templates/lib/html/head.html --> 

    <style>

    .perfil_small{
      border-radius: 50px;
      width:60px; 
      height:60px;
    }
    </style>

  </head>
  <body>
    <!-- $Include templates/lib/html/topbar.html --> 

    <div class="row fix-container" >
      <!-- cabeçalho -->
      <div class="row">
        <div class="medium-12 columns">
          <h2 class='cabecalho'>Registro(s) encontrado(s) para "${arg}"</h2>
        </div>
      </div>


       <!-- label -->
      <div class="row" >
        <div class="medium-12 columns">
          <span class="label secondary">Faça uma busca refinada no campo <b>Procura</b> para os resultados da buscar por "${arg}".</span>
        </div>
      </div>

      <div class="row">
        <div class="medium-12 columns">
          <!--nova table-->
          <table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
            <thead>
             <tr>
              <th >Foto</th>
              <th >Nome</th>
              <th >Turma</th>
              <th >Tipo</th>

            </tr>
          </thead>

          <tbody>
            <!-- $BeginBlock row -->
            <tr>
              <td>
                <span data-tooltip aria-haspopup="true" class="has-tip" title="Click para ver o perfil">
                  <a href="index.php?uc=perfil&a=perfilUserView&id=${usuario.id}" title=""><img src="${usuario.foto}" alt="" class="perfil_small"></a>
                </span>
              </td>
              <td>${usuario.nome}</td>
              <td> <a href="${turma.id}" class="button tiny" style="margin:0">${usuario.turma}</a></td>
              <td>${usuario.tipo}</td>

            </tr>
            <!-- $EndBlock row -->
          </tbody>

          <tfoot>
           <tr>
            <th >Foto</th>
            <th >Nome</th>
            <th >Turma</th>
            <th >Tipo</th>

          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!-- fim  -->
</div>


<!-- $Include templates/lib/html/footerscripts.html --> 
<script src="templates/lib/js/jquery.mask.min.js"></script>
<script src="templates/lib/js/ajax.js"></script>
<script src="templates/lib/js/jquery.dataTables.min.js"></script>
<script src="templates/lib/js/metro.js"></script>

<script>
$(document).foundation();

$(document).ready(function(){
  $(".transferir").click(function(){
    var id = $(this).val(); 

    var data = {'id' : id}; 

    alertify.confirm("Click em Ok se deseja realmente transferir seus privilégios de coordenador para outro professor.",function(e){
     if(e){
      alertify.success("Alteração feita com sucesso"); 

      sendAjax('index.php?uc=manterCurso&a=transCoordenador','POST',data,function(data){
        alertify.log(data); 
      }); 

    }else{
      alertify.error("Operação cancelada"); 
    }
  }); 


  });

}); 
</script>
</body>
</html>
